<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    <div class="body-wrapper">
        {{ APP }}
    </div>
    <script>
      try {
        window.__async = ( typeof Object.getPrototypeOf(async function(){}).constructor === 'function')
      } catch {
        window.__async = false;
      }
    </script>
  </body>
</html>
