<template lang="pug">
  not-found
    span wybrany akt nie istnieje lub nie masz wystarczających uprawnień by je odczytać.
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import NotFound from '~/components/NotFound.vue'

@Component({
  components: { NotFound }
})
export default class extends Vue {}
</script>