<template lang="pug">
  div
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component
export default class extends Vue {
  created () {
    if (!process.server) {
      this.$router.replace({
        name: 'decrees'
      })
    }
  }
  beforeRouteLeave (to, _, next) {
    to.params.clear = true
    next()
  }
}
</script>
