<template lang="pug">
  div.decrees-creator
    pansa-breadcrumb
      el-breadcrumb-item(:to="{ name: 'decrees', params: {clear: true} }") Lista
      el-breadcrumb-item(:to="{ path: '/decrees/creator' }") Kreator
    div
      el-steps(align-center :active='ActiveStep')
        el-step(title='Wybierz anulowane' icon='el-icon-search')
        el-step(title='Wybierz zmieniane' icon='el-icon-search')
        el-step(title='Dodaj akt' icon='el-icon-edit')
      div.decrees-picker.decrees-picker--cancel(v-if='ActiveStep === 0')
        el-row(:gutter='10' v-if='OpenCancelPicker === false' type='flex' justify="space-around")
          el-col(:xs='16' :md='12' :xl='8')
            el-card(point-me='cancel-variant')
              h2(slot='header') Anulowanie
              el-button(@click='PickCancel()' type='primary' icon='el-icon-search') Wybierz akty, które chcesz anulować
              el-button(@click='SkipCancel()') Pomiń ten krok
                i.el-icon-d-arrow-right.el-icon-right
        el-row(:gutter='10' v-if='OpenCancelPicker === true')
          el-col(:xs='24' :md='10' :xl='6')
            el-card
              h2(slot='header') Akty wybrane do anulowania
              el-row(type='flex' v-for='decree in ToCancel' :key='decree.Id')
                el-col(:span='4')
                  el-button(icon='el-icon-delete' @click='DeleteCancel(decree)' type='primary' circle)
                el-col
                  decree-alert(:decree='decree' style='font-size: 12px;')
              el-button(@click='SubmitCancel()' :disabled='ToCancel.length === 0' type='primary') Gotowe!
              el-button(@click='SkipCancel()' :disabled='ToCancel.length > 0') Pomiń ten krok
                i.el-icon-d-arrow-right.el-icon-right
          el-col(:xs='24' :md='14' :xl='18')
            el-card
              decrees-index(mode='picker' :default-status-filter='[3]' @selected='OnCancelSelected' :selected='ToCancelIds()')
      div.decrees-picker.decrees-picker--modify(v-if='ActiveStep === 1')
        el-row(:gutter='10' v-if='OpenModifyPicker === false' type='flex' justify="space-around")
          el-col(:xs='16' :md='12' :xl='8')
            el-card(point-me='modify-variant')
              h2(slot='header') Zmiana
              el-button(@click='PickModify()' type='primary' icon='el-icon-search') Wybierz akty, które chcesz zmienić
              el-button(@click='SkipModify()') Pomiń ten krok
                i.el-icon-d-arrow-right.el-icon-right
        el-row(:gutter='10' v-if='OpenModifyPicker === true')
          el-col(:xs='24' :md='10' :xl='6')
            el-card
              h2.selected-title(slot='header') Akty wybrane do zmiany
              el-row(type='flex' v-for='decree in ToModify' :key='decree.Id')
                el-col(:span='4')
                  el-button(icon='el-icon-delete' @click='DeleteModify(decree)' type='primary' circle)
                el-col
                  decree-alert(:decree='decree' style='font-size: 12px;')
              el-button(@click='SubmitModify()' :disabled='ToModify.length === 0' type='primary') Gotowe!
              el-button(@click='SkipModify()' :disabled='ToModify.length > 0') Pomiń ten krok
                i.el-icon-d-arrow-right.el-icon-right
          el-col(:xs='24' :md='14' :xl='18')
            el-card
              decrees-index(mode='picker' :default-status-filter='[3]' @selected='OnModifySelected' :selected='ToModifyIds()')
      div.decrees-picker.decrees-picker--submit(v-if='ActiveStep === 2')
        el-card(point-me='confirm-variant')
          h2(slot='header') Potwierdź wybrane akty
          el-row(type='flex' :gutter='10')
            el-col
              el-card
                h2.selected-title(slot='header') Akty wybrane do anulowania
                decree-alert(:decree='decree' style='font-size: 12px;' v-for='decree in ToCancel' :key='decree.Id')
                p(v-if='ToCancel.length === 0') Nic nie wybrano
                el-button(type='primary' @click='BackToCancel()') Wróć do tego kroku
            el-col
              el-card
                h2.selected-title(slot='header')  Akty wybrane do zmiany
                decree-alert(:decree='decree' style='font-size: 12px;' v-for='decree in ToModify' :key='decree.Id')
                p(v-if='ToModify.length === 0') Nic nie wybrano
                el-button(type='primary' @click='BackToModify()') Wróć do tego kroku
          el-row(type='flex' style='margin-top: 10px')
            el-col
              el-button(type='primary' @click='GoToForm()' point-me='confirm-button') Potwierdzam (przejdź do formularz)

</template>
<script lang="ts">
import { Component, Mixins, Watch } from 'vue-property-decorator'
import { IDecree } from 'model/IDecree'
import PansaBreadcrumb from '~/components/PansaBreadcrumb.vue'
import Common from '~/mixins/common'
import Errors from '~/mixins/errors'
import DecreeAlert from '~/components/DecreeAlert.vue'
import UnderConstruction from '~/components/UnderConstruction.vue'
import DecreesIndex from '~/pages/decrees/index.vue'

@Component({
  components: { DecreesIndex, PansaBreadcrumb, DecreeAlert, UnderConstruction },
  validate: (): boolean => {
    return true
  }
})
export default class extends Mixins(Common, Errors) {
  ActiveStep: number = 0
  ToCancel: Array<IDecree> = []
  ToModify: Array<IDecree> = []
  OpenCancelPicker: boolean = false
  OpenModifyPicker: boolean = false

  @Watch('ActiveStep') OnActiveStepChanged (step: number) {
    let variant = 'cancel'
    if (step === 1) {
      variant = 'modify'
    } else if (step === 2) {
      variant = 'confirm'
    }
    this.$nextTick(() => {
      try {
        (this.$route.params as any).setVariant(variant)
      } catch {
        this.$route.params.variant = variant
      }
    })
    debugger
  }
  $Created () {
    this.$route.params.variant = 'cancel'
  }
  BackToCancel () {
    this.ActiveStep = 0
  }
  BackToModify () {
    this.ActiveStep = 1
  }
  GoToForm () {
    if (this.ToModify.length > 1) {
      this.$Error('Możesz zmienić tylko jeden Akt jednocześnie', 'walidacja')
    } else if (this.ToModify.findIndex(x => x.StatusId !== 3) !== -1) {
      this.$Error('Możesz zmienić tylko Opublikowane Akty', 'walidacja')
    } else if (this.ToCancel.findIndex(x => x.StatusId !== 3) !== -1) {
      this.$Error('Możesz anulować tylko Opublikowane Akty', 'walidacja')
    } else {
      const cancel = this.ToCancel.map(_ => '' + _.Id).join(',')
      const modify = this.ToModify.map(_ => '' + _.Id).join(',')
      const query: any = {}
      if (cancel) {
        query.cancel = cancel
      }
      if (modify) {
        query.modify = modify
      }
      this.$router.replace({
        name: 'decrees-create',
        query: query
      })
    }
  }
  ToCancelIds () {
    return [...this.ToModify.map(_ => _.Id) ,...this.ToCancel.map(_ => _.Id)]
  }
  DeleteCancel (decree: IDecree) {
    const index = this.ToCancel.findIndex(_ => _.Id === decree.Id)
    if (index >= 0) {
      this.ToCancel.splice(index, 1)
    }
  }
  SkipCancel () {
    this.ToCancel = []
    this.OpenCancelPicker = false
    this.ActiveStep = 1
  }
  PickCancel () {
    this.OpenCancelPicker = true
  }
  SubmitCancel () {
    this.ActiveStep = 1
  }
  OnCancelSelected (decree: IDecree): void {
    if (this.ToCancel.findIndex(_ => _.Id === decree.Id) === -1) {
      this.ToCancel.push(decree)
    }
  }
  ToModifyIds () {
    return [...this.ToModify.map(_ => _.Id) ,...this.ToCancel.map(_ => _.Id)]
  }
  DeleteModify (decree: IDecree) {
    const index = this.ToModify.findIndex(_ => _.Id === decree.Id)
    if (index >= 0) {
      this.ToModify.splice(index, 1)
    }
  }
  SkipModify () {
    this.ToModify = []
    this.OpenModifyPicker = false
    this.ActiveStep = 2
  }
  PickModify () {
    this.OpenModifyPicker = true
  }
  SubmitModify () {
    this.ActiveStep = 2
  }
  OnModifySelected (decree: IDecree): void {
    if (this.ToModify.findIndex(_ => _.Id === decree.Id) === -1) {
      this.ToModify.push(decree)
    }
  }
}
</script>
<style lang="scss">
.decrees-creator {
  .decrees-picker {
    padding-top: 20px;
  }
  .decrees-picker h2 {
    text-align: center;
    font-weight: 200;
  }
  .decrees-picker h2.selected-title {
    margin-top: 0;
  }
}
</style>


