<template lang="pug">
  div
    pansa-breadcrumb
      el-breadcrumb-item(:to="{ name: 'decrees', params: {clear: true} }") Lista
      el-breadcrumb-item(:to="{ path: '/decrees/create' }") Dodaj
    decree-form(@submit='Create' @cancel='Cancel' :validate='Validate' :validate-field='ValidateField' submit-text='Zapisz wersję roboczą' :defaultCase='DefaultCase' :mode='Mode')
      el-row(:gutter='10' v-if='(ToModify !== null && ToModify.length > 0) || (ToCancel !== null && ToCancel.length > 0 )' style='margin-bottom: 16px')
        el-col(:xs='24' :md='ToModify !== null && ToModify.length > 0 ? 12 : 24' v-if='ToCancel !== null && ToCancel.length > 0')
          el-card
            h2(slot='header') Anulowane akty
            decree-alert(:decree='d' v-for='d in ToCancel' :key='d.Id')
        el-col(:xs='24' :md='ToCancel !== null && ToCancel.length > 0 ? 12 : 24' v-if='ToModify !== null && ToModify.length > 0')
          el-card
            h2(slot='header') Zmieniane akty
            decree-alert(:decree='d' v-for='d in ToModify' :key='d.Id')
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import DecreeForm from '~/components/DecreeForm.vue'
import { IDecree } from 'model/IDecree'
import { IDecreeValidationResult, IDecreeValidationError } from '~/model/IDecreeValidationResult'
import * as decrees from '~/store/modules/Decrees'
import { namespace } from 'vuex-class'
import PansaBreadcrumb from '~/components/PansaBreadcrumb.vue'
import Common from '~/mixins/common'
import Errors from '~/mixins/errors'
import DecreeAlert from '~/components/DecreeAlert.vue'

const Decrees = namespace(decrees.name)
@Component({
  components: { DecreeForm, PansaBreadcrumb, DecreeAlert },
  validate: ({ query }): boolean => {
    if (query.cancel) {
      const invalidIds = (query.cancel as string).split(',').map(_ => parseInt(_, 10)).filter(_ => isNaN(_) || _ <= 0).length
      if (invalidIds > 0) {
        return false
      }
    }
    if (query.modify) {
      const invalidIds = (query.modify as string).split(',').map(_ => parseInt(_, 10)).filter(_ => isNaN(_) || _ <= 0).length
      if (invalidIds > 0) {
        return false
      }
    }
    return true
  }
})
export default class extends Mixins(Common, Errors) {
  prevRoute: any = null
  beforeRouteEnter (_, from, next) {
    next(vm => {
      vm.prevRoute = from
    })
  }
  CancelIds: number[] | null = null
  ToCancel: IDecree[] | null = null
  ModifyIds: number[] | null = null
  ToModify: IDecree[] | null = null
  Mode: string = 'create'
  DefaultCase: string = ''
  @Decrees.Action CreateDecree
  @Decrees.Action GetDecreeById
  async Create (decree: IDecree) {
    this.$Loading()
    try {
      if (this.CancelIds) {
        decree.CanceledIds = this.CancelIds
      }
      if (this.ModifyIds) {
        decree.ChangedIds = this.ModifyIds
      }
      const created: IDecree = await this.CreateDecree(decree)
      const next = {
        name: 'decrees-preview',
        query: {
          id: created.Id!.toString()
        },
        params: {
          $success: 'Akt został dodany!'
        }
      }
      this.$router.push(next)
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  async $Created () {
    this.DefaultCase = ''
    if (this.$route.query.modify) {
      this.$Loading()
      this.ModifyIds = (this.$route.query.modify as string).split(',').map(_ => parseInt(_, 10))
      this.Mode = 'modify'
      try {
        const tomodify: IDecree[] = []
        for (let i = 0; i < this.ModifyIds.length; i++) {
          tomodify.push(await this.GetDecreeById(this.ModifyIds[i]))
        }
        this.ToModify = tomodify
        const alreadyCanceled = this.ToModify.find(_ => !!_.CanceledById)
        if (this.ToModify.find(_ => _.StatusId !== 3)) {
          const next = {
            path: '/422',
            query: {
              message: 'Nie można zmienić aktu, który nie znajdujy się w statusie "Opublikowany"'
            }
          }
          this.$router.push(next)
        } else if (alreadyCanceled) {
          const next = {
            path: '/422',
            query: {
              message: 'jeden z wybranych aktów jest już anulowany'
            }
          }
          this.$router.push(next)
        }

        this.DefaultCase += this.ToModify.map(decree => {
          return `Zmieniający ${decree.Type!.Genitive} [Nr: ${this.$ZeroPad(decree.Uid!, 3)}] ${decree.Publisher!.Preview} z dnia ${this.$FormatDecreeDate(decree.Date!)}, w sprawie:\n${decree.Case}`
        }).join('\n')
      } catch (err) {
        this.$HandleError(err)
      } finally {
        this.$Loaded()
      }
    }
    if (this.$route.query.cancel) {
      this.$Loading()
      this.CancelIds = (this.$route.query.cancel as string).split(',').map(_ => parseInt(_, 10))
      this.Mode = this.Mode === 'modify' ? 'cancel-modify' : 'cancel'
      try {
        const tocancel: IDecree[] = []
        for (let i = 0; i < this.CancelIds.length; i++) {
          tocancel.push(await this.GetDecreeById(this.CancelIds[i]))
        }
        this.ToCancel = tocancel
        const alreadyCanceled = this.ToCancel.find(_ => !!_.CanceledById)
        if (this.ToCancel.find(_ => _.StatusId !== 3)) {
          const next = {
            path: '/422',
            query: {
              message: 'Nie można anulować aktu, który nie znajduje się w statusie "Opublikowany"'
            }
          }
          this.$router.push(next)
        } else if (alreadyCanceled) {
          const next = {
            path: '/422',
            query: {
              message: 'jeden z wybranych aktów jest już anulowany'
            }
          }
          this.$router.push(next)
        }
        if (this.DefaultCase && this.ToCancel.length > 0) {
          this.DefaultCase += '\n------------\n'
        }
        this.DefaultCase += this.ToCancel.map(_ => _.Case || '').filter(_ => !!_).join('\n------------\n')
      } catch (err) {
        this.$HandleError(err)
      } finally {
        this.$Loaded()
      }
    }

  }
  async Validate (decree: IDecree): Promise<IDecreeValidationResult> {
    const result: IDecreeValidationResult = {
      IsValid: true,
      Source: 'controller',
      Message: 'OK'
    }

    const errors = ['TypeId', 'PublisherId', 'Date', 'Case', 'Content'].map(prop => {
      return this.ValidateField(prop, decree[prop])
    }).filter(error => error !== null) as Array<IDecreeValidationError>

    if (errors.length > 0) {
      result.IsValid = false
      result.Errors = errors
      result.Message = 'failed'
    }
    return result
  }
  ValidateField (prop: string, value: any): IDecreeValidationError | null {
    if (prop === 'TypeId') {
      if (!value) {
        return {
          Prop: 'TypeId',
          Message: 'Pole wymagane, wybierz rodzaj z listy'
        }
      }
    } else if (prop === 'PublisherId') {
      if (!value) {
        return {
          Prop: 'PublisherId',
          Message: 'Pole wymagane, wybierz wydawcę z listy'
        }
      }
    } else if (prop === 'Date') {
      if (!value) {
        return {
          Prop: 'Date',
          Message: 'Pole wymagane, wybierz datę'
        }
      }
    } else if (prop === 'Case') {
      if (!value || (!value.trim())) {
        return {
          Prop: 'Case',
          Message: 'Pole wymagane, wprowadź tekst (maksymalnie 2000 znaków)'
        }
      } else if (value.length > 2000) {
        return {
          Prop: 'Case',
          Message: 'Przekroczono maksymalną długość 2000 znaków o ' + (value.length - 2000) + ' znaków'
        }
      }
    } else if (prop === 'Content') {
      if (value && value.length > 50000) {
        return {
          Prop: 'Content',
          Message: 'Przekroczono maksymalną długość 50000 znaków o ' + (value.length - 50000) + ' znaków'
        }
      }
    }

    return null
  }
  Cancel () {
    if (this.prevRoute && (this.prevRoute.name) && this.prevRoute.name !== this.$route.name) {
      this.$router.push(this.prevRoute.fullPath)
    } else {
      const next = {
        name: 'decrees',
        params: {}
      }
      this.$router.push(next)
    }
  }
}
</script>
