<template lang="pug">
  div
    pansa-breadcrumb
      el-breadcrumb-item(:to="{ name: 'decrees', params: {clear: true} }") Lista
      el-breadcrumb-item(:to="{ name: 'decrees-preview', query: {id: id} }") \#{{id}}
      el-breadcrumb-item(:to="{ name: 'decrees-edit', query: {id: id} }") Edycja
    decree-form(ref='form'
    :decreeId='id'
    @submit='Update'
    @cancel='Cancel'
    @origin_loaded='OnOrigin'
    @load:error='$HandleError'
    :key='id'
    :validate='Validate'
    :validate-field='ValidateField'
    :submit-text='SubmitText')
      el-row(:gutter='10' v-if='(ToModify !== null && ToModify.length > 0) || (ToCancel !== null && ToCancel.length > 0 )' style='margin-bottom: 16px')
        el-col(:xs='24' :md='ToModify !== null && ToModify.length > 0 ? 12 : 24' v-if='ToCancel !== null && ToCancel.length > 0')
          el-card
            h2(slot='header') Anulowane akty
            decree-alert(:decree='d' v-for='d in ToCancel' :key='d.Id')
        el-col(:xs='24' :md='ToCancel !== null && ToCancel.length > 0 ? 12 : 24' v-if='ToModify !== null && ToModify.length > 0')
          el-card
            h2(slot='header') Zmieniane akty
            decree-alert(:decree='d' v-for='d in ToModify' :key='d.Id')
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import DecreeForm from '~/components/DecreeForm.vue'
import DecreeAlert from '~/components/DecreeAlert.vue'
import { IDecree } from 'model/IDecree'
import * as decrees from '~/store/modules/Decrees'
import { namespace } from 'vuex-class'
import Common from '~/mixins/common'
import Errors from '~/mixins/errors'
import { IDecreeValidationResult, IDecreeValidationError } from '~/model/IDecreeValidationResult'
import { IAction } from '~/model/IAction'
import PansaBreadcrumb from '~/components/PansaBreadcrumb.vue'

const Decrees = namespace(decrees.name)
@Component({
  components: { DecreeForm, PansaBreadcrumb, DecreeAlert },
  validate: ({ query }): boolean => {
    const id = parseInt(query.id as string, 10)
    if (isNaN(id) || id <= 0) {
      return false
    }
    return true
  }
})
export default class extends Mixins(Common, Errors) {
  @Decrees.Action UpdateDecree
  @Decrees.Action LockUid
  @Decrees.Action GetDecreeById
  id: number = 0
  SubmitText: string = 'Zapisz'
  Actions: Array<IAction> = []
  prevRoute: any = null
  ToCancel: Array<IDecree> | null = null
  ToModify: Array<IDecree> | null = null
  $Created () {
    this.id = parseInt(this.$route.query.id as string, 10)
  }
  OnLoadError (err: any) {
    this.$HandleError(err)
  }
  async OnOrigin (origin: IDecree) {
    if (origin.CanceledIds) {
      const tocancel: IDecree[] = []
      for (let i = 0; i < origin.CanceledIds.length; i++) {
        tocancel.push(await this.GetDecreeById(origin.CanceledIds[i]))
      }
      this.ToCancel = tocancel
    }
    if (origin.ChangedIds) {
      const tochange: IDecree[] = []
      for (let i = 0; i < origin.ChangedIds.length; i++) {
        tochange.push(await this.GetDecreeById(origin.ChangedIds[i]))
      }
      this.ToModify = tochange
    }
    if (origin.StatusId === 1) {
      this.SubmitText = 'Zapisz wersję roboczą'
      this.Actions = [{
        Text: 'Zapisz i nadaj numer',
        Key: 'lockuid'
      }]
    } else if (origin.StatusId === 2) {
      this.SubmitText = 'Zapisz Oczekujące na publikację'
      this.Actions = [{
        Text: 'Zapisz i opublikuj',
        Key: 'publish'
      }]
    }
  }
  beforeRouteEnter (_, from, next) {
    next(vm => {
      vm.prevRoute = from
    })
  }
  async Update (decree: IDecree) {
    this.$Loading()
    try {
      await this.UpdateDecree(decree)
      const next = {
        name: 'decrees-preview',
        query: {
          id: this.id.toString()
        },
        params: {
          $success: 'Akt został zaktualizowany!'
        }
      }
      this.$router.push(next)
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  async Validate (decree: IDecree): Promise<IDecreeValidationResult> {
    const result: IDecreeValidationResult = {
      IsValid: true,
      Source: 'controller',
      Message: 'OK'
    }

    const errors = ['TypeId', 'PublisherId', 'Date', 'Case', 'Content'].map(prop => {
      return this.ValidateField(prop, decree[prop])
    }).filter(error => error !== null) as Array<IDecreeValidationError>

    if (errors.length > 0) {
      result.IsValid = false
      result.Errors = errors
      result.Message = 'failed'
    }
    return result
  }
  ValidateField (prop: string, value: any): IDecreeValidationError | null {
    if (prop === 'TypeId') {
      if (!value) {
        return {
          Prop: 'TypeId',
          Message: 'Pole wymagane, wybierz rodzaj z listy'
        }
      }
    } else if (prop === 'PublisherId') {
      if (!value) {
        return {
          Prop: 'PublisherId',
          Message: 'Pole wymagane, wybierz wydawcę z listy'
        }
      }
    } else if (prop === 'Date') {
      if (!value) {
        return {
          Prop: 'Date',
          Message: 'Pole wymagane, wybierz datę'
        }
      }
    } else if (prop === 'Case') {
      if (!value || (!value.trim())) {
        return {
          Prop: 'Case',
          Message: 'Pole wymagane, wprowadź tekst (maksymalnie 2000 znaków)'
        }
      } else if (value.length > 2000) {
        return {
          Prop: 'Case',
          Message: 'Przekroczono maksymalną długość 2000 znaków o ' + (value.length - 2000) + ' znaków'
        }
      }
    } else if (prop === 'Content') {
      if (value && value.length > 50000) {
        return {
          Prop: 'Content',
          Message: 'Przekroczono maksymalną długość 50000 znaków o ' + (value.length - 50000) + ' znaków'
        }
      }
    }

    return null
  }
  Cancel () {
    if (this.prevRoute && (this.prevRoute.name) && this.prevRoute.name !== this.$route.name) {
      this.$router.push(this.prevRoute.fullPath)
    } else {
      const next = {
        name: 'decrees',
        params: {}
      }
      this.$router.push(next)
    }
  }
}
</script>
