<template lang="pug">
  div.decrees-files
    pansa-breadcrumb
      el-breadcrumb-item(:to="{ name: 'decrees', params: {clear: true} }") Lista
      el-breadcrumb-item(:to="{ name: 'decrees-preview', query: {id: id} }") \#{{id}}
      el-breadcrumb-item(:to="{ name: 'decrees-files', query: {id: id} }") Pliki
    el-row(:gutter='10' v-if='Decree')
        el-col(:xs='24' :sm='14' :md='12')
          .decree-preview-row
            decree-alert(:decree='Decree' type='view')
    el-row(:gutter='10' v-if='Decree')
      el-col(:xs='24' :xl='12')
        el-card
          div(slot='header') Dokument
            el-checkbox.public-checkbox(v-model="Public" :disabled='!!(!Override && Decree.Master)') Publiczny
          div.existing-master(v-if='Decree.Master' :class='{ override: Override }')
            img(:src='ResolveIcon(Decree.Master.Extension)')
            span {{Decree.Master.Name}}
            el-button(@click='ToggleOverride()' size='mini') {{Override ? 'Przywróć' : 'Usuń'}}
          div.master-file(v-if='Override || (!Decree.Master)')
            input.master-file__input(type='file' @change='OnMasterFile' accept='application/pdf')
            .master-file__prompt(v-if='NewMasterFile === null')
              i.el-icon-upload
              div Przeciągnij plik tutaj, lub kliknij
              div.master-file__name-explanation Nazwa zostanie nadana automatycznie
              div.master-file__name-explanation maksymalny rozmiar pliku: 1MB (ograniczenie wersji prototypowej)
            .master-file__prompt(v-else)
              img(:src='ResolveIcon(NewMasterFile.name)')
              div PANSA_{{Decree.Date.getFullYear()}}_{{Decree.Type.FileName}}_{{Decree.Publisher.FileName}}_{{$ZeroPad(Decree.Uid, 3)}}.{{GetExtension(NewMasterFile.name)}}
              div.master-file__name-explanation plik: {{NewMasterFile.name}} / {{HumanFileSize(NewMasterFile.size, false)}}
      el-col.margin-top-non-xl(:xs='24' :xl='12')
        el-card
          div(slot='header') Załączniki
          transition-group.attachments-list(name="flip-list" tag="ul" v-if='Attachments.length > 0')
            li.attachments-list__item(v-for='att in Attachments' :key='att.Id + att.Hash' :class="{'attachments-list__item--pending': !!att.Pending, 'attachments-list__item--remove': !!att.Remove}")
              el-badge(:value="att.Pending ? 'nowy!' : ''" type="primary")
                el-input(v-model='att.Name' size='default' :disabled='!!att.Remove')
                  //- img(:src='ResolveIcon(att.Name)' width='24px' slot='prepend')
                  el-tooltip(slot='append' placement='top' content='Czy jest publiczny?' :open-delay='333')
                    el-checkbox(v-model='att.Public' :disabled='att.Remove')
                  el-tooltip(slot='suffix' placement='top' content='Przywróć nazwę' :open-delay='1000' v-if='att.Origin !== att.Name')
                    i.el-icon-refresh(@click='RestoreAttachmentName(att)')
                    //- el-button(icon='el-icon-close' size='small' @click='RestoreAttachmentName(att)')
                  el-tooltip(slot='append' placement='top' content='W górę' :open-delay='1000')
                    el-button(icon='el-icon-arrow-up' size='small' :disabled='att.Order <= 1 || att.Remove' @click='MoveUp(att)')
                  el-tooltip(slot='append' placement='top' content='W dół' :open-delay='1000')
                    el-button(icon='el-icon-arrow-down' size='small' :disabled='att.Order >= Attachments.length || att.Remove' @click='MoveDown(att)')
                  el-tooltip(slot='append' placement='top' content='Usuń' :open-delay='1000' v-if='!att.Remove')
                    el-button(icon='el-icon-delete' size='small' @click='RemoveAttachment(att)' :disabled='att.Remove')
                  el-tooltip(slot='append' placement='top' content='Przywróć' :open-delay='1000' v-if='!!att.Remove')
                    el-button(icon='el-icon-refresh' size='small' @click='RestoreAttachment(att)')
              div.attachments-list__item-error {{att.Error}}
                //- div.attachment-file__origin-name(v-if='att.Origin !== att.Name') {{att.Origin}}
          div.master-file
            input.master-file__input(type='file' @change='OnAttachmentsFiles' accept='application/pdf' multiple)
            .master-file__prompt
              i.el-icon-upload
              div Przeciągnij pliki tutaj, lub kliknij aby dodać nowe załączniki
              div.master-file__name-explanation po dodaniu pliki pojawią w liście u góry
              div.master-file__name-explanation maksymalny rozmiar pliku: 1MB (ograniczenie wersji prototypowej)
          
    el-row.files-actions(:gutter='10' v-if='Decree')
      el-col(:xs='24' :sm='12')
        el-button(@click='Save' type='primary') {{SubmitText}}
        el-button(@click='Cancel') Anuluj
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import { IDecree } from 'model/IDecree'
import * as decrees from '~/store/modules/Decrees'
import { namespace } from 'vuex-class'
import Common from '~/mixins/common'
import Errors from '~/mixins/errors'
import PansaBreadcrumb from '~/components/PansaBreadcrumb.vue'
import DecreeAlert from '~/components/DecreeAlert.vue'
import { IFile } from 'model/IFile'

interface IAttachment {
  Id?: string,
  Size?: number
  Origin?: string,
  Hash?: string,
  Name: string,
  Content?: ArrayBuffer,
  Pending: boolean,
  Order?: number,
  Public: boolean,
  Remove?: boolean,
  Type?: string,
  Error?: string
}

const Decrees = namespace(decrees.name)
@Component({
  components: { PansaBreadcrumb, DecreeAlert }
})
export default class extends Mixins(Common, Errors) {
  @Decrees.Action GetDecreeById
  @Decrees.Action LockUid
  @Decrees.Action DeleteDecree
  @Decrees.Action ReleaseUid
  @Decrees.Action AddMasterFile
  @Decrees.Action AddAttachment
  @Decrees.Action UpdateAttachments

  SubmitText: string = 'Zapisz Oczekujące na publikację'
  Public: boolean = true
  Loading: Boolean = false
  id: number | null = null
  Decree: IDecree | null = null
  day: string = ' dnia '
  Override: boolean = false
  NewMasterFile: any = null
  NewMasterFileArray: ArrayBuffer | null = null
  Attachments: Array<IAttachment> = []
  Cancel () {
    const next = this.$route.params.back ? this.$route.params.back as any : {
      name: 'decrees-preview',
      query: {
        id: this.id!.toString()
      },
      params: {}
    }
    this.$router.push(next)
  }
  ToggleOverride () {
    this.Override = !this.Override
    this.NewMasterFile = null
    this.NewMasterFileArray = null
    if (!this.Override) {
      this.Public = this.Decree!.Master!.Public
    }
  }
  ResolveIcon (extension: string) {
    if (extension.indexOf('.') >= 0) {
      extension = extension.split('.')[extension.split('.').length - 1]
    }
    const std = ['pdf', 'docx', 'xlsx']
    extension = (std.indexOf(extension) >= 0) ? extension : 'gen'
    return `/icons/48_ic${extension}.png`
  }
  GetExtension (filename: string): string {
    return filename.split('.')[filename.split('.').length - 1]
  }
  HumanFileSize (bytes, si) {
    const thresh = si ? 1000 : 1024
    if (Math.abs(bytes) < thresh) {
      return bytes + ' B'
    }
    const units = si
      ? ['kB','MB','GB','TB','PB','EB','ZB','YB']
      : ['KiB','MiB','GiB','TiB','PiB','EiB','ZiB','YiB']
    let u = -1
    do {
      bytes /= thresh
      ++u
    } while (Math.abs(bytes) >= thresh && u < units.length - 1)
    return bytes.toFixed(1) + ' ' + units[u]
  }
  OnMasterFile (ev) {
    if (ev.currentTarget.files.length === 0) {
      this.NewMasterFile = null
      this.NewMasterFileArray = null
    } else {
      const file = ev.currentTarget.files[0]
      const reader = new FileReader()
      reader.addEventListener('load', () => {
        this.NewMasterFileArray = reader.result as ArrayBuffer
        this.NewMasterFile = file
      })
      reader.readAsArrayBuffer(file)
    }
  }
  Validate (): boolean {
    let result = true
    this.Attachments.forEach(_ => {
      _.Name = (_.Name || '').trim()
      _.Error = ''
    })
    const larger = this.Attachments.filter(_ => _.Pending === true && (_.Size || 0) > (1024 * 1024))
    larger.forEach(_ => {
      _.Error = 'Plik jest zbyt duży'
    })
    result = result && (larger.length === 0)

    const names = this.Attachments.filter(_ => !_.Name || _.Name.length > 120)
    names.forEach(_ => {
      _.Error = !_.Name ? 'Nazwa pliku jest wymagana' : 'Maksymalna długość nazwy to 120 znaków'
    })
    result = result && (names.length === 0)

    this.Attachments = this.Attachments.splice(0)
    return result
  }
  async ReadAttachmentFile (file: File): Promise<ArrayBuffer> {
    const reader = new FileReader()
    return new Promise<ArrayBuffer>((resolve, reject) => {
      reader.addEventListener('load', () => {
        resolve(reader.result as ArrayBuffer)
      })
      reader.addEventListener('error', (err) => {
        reject(err)
      })
      reader.readAsArrayBuffer(file)
    })
  }
  MoveUp (att: IAttachment): void {
    const order = att.Order as number
    const swap = this.Attachments.find(_ => _.Order === order - 1)
    if (swap) {
      att.Order = order - 1
      swap.Order = order
      this.PushAttachments()
    }
  }
  RestoreAttachmentName (att: IAttachment): void {
    att.Name = att.Origin || att.Name
  }
  MoveDown (att: IAttachment): void {
    const order = att.Order as number
    const swap = this.Attachments.find(_ => _.Order === order + 1)
    if (swap) {
      att.Order = order + 1
      swap.Order = order
      this.PushAttachments()
    }
  }
  RemoveAttachment (att: IAttachment): void {
    if (att.Pending) {
      this.Attachments = this.Attachments.filter(_ => _ !== att)
      this.PushAttachments()
    } else {
      att.Remove = true
      att.Name = att.Origin || att.Name
    }
  }
  RestoreAttachment (att: IAttachment): void {
    if (!att.Pending) {
      att.Remove = false
    }
  }
  async OnAttachmentsFiles (ev) {
    const input = ev.currentTarget
    if (input.files.length > 0) {
      this.$Loading()
      const files: Array<File> = Array.from(input.files)
      let attachments = await Promise.all(files.map(async _ => {
        const hash = `${_.lastModified || '#'}--${_.name}--${_.size || '#'}`
        const content = await this.ReadAttachmentFile(_)
        const att: IAttachment = {
          Content: content,
          Hash: hash,
          Name: _.name,
          Origin: _.name,
          Pending: true,
          Size: _.size,
          Public: true,
          Type: _.type
        }
        return att
      }))
      attachments = attachments.filter(att => this.Attachments.findIndex(_ => _.Pending && _.Hash === att.Hash) === -1)
      this.PushAttachments(attachments)
      input.value = ''
      this.$Loaded()
    }
  }
  PushAttachments (attachments: Array<IAttachment> = new Array<IAttachment>()) {
    let old = this.Attachments.slice(0).sort((a, b) => { return (a.Order || 0) - (b.Order || 0) })
    attachments.forEach(_ => old.push(_))
    old = old.map((_, index) => {
      _.Order = index + 1
      return _
    })
    old = old.slice(0).sort((a, b) => { return (a.Order || 0) - (b.Order || 0) })
    this.Attachments = old
  }
  async Save () {
    if (!this.Validate()) {
      this.$Error('Znaleziono błędy w załącznikach')
      return
    }
    if (this.NewMasterFile && this.NewMasterFile.size > 1024 * 1024) {
      this.$Error('Wybierz mniejszy dokument')
      return
    }
    const master = !(!this.NewMasterFileArray && !this.Override)
    const file: IFile | null = this.NewMasterFileArray ? {
      OriginName: this.NewMasterFile.name as string,
      Extension: this.NewMasterFile.name.split('.')[this.NewMasterFile.name.split('.').length - 1] as string,
      Type: this.NewMasterFile.type as string,
      Size: this.NewMasterFile.size as number,
      Content: this.NewMasterFileArray,
      Public: this.Public
    } : null
    try {
      this.$Loading()
      if (master) {
        if (file) {
          this.$Loading('przesyłam dokument...')
        }
        await this.AddMasterFile({
          DecreeId: this.id as number,
          File: file,
          Public: this.Public
        })
      }
      if (this.Attachments.filter(_ => _.Pending === false).length > 0) {
        this.$Loading('aktualizuję załączniki...')
        await this.UpdateAttachments({
          DecreeId: this.id as number,
          Attachments: this.Attachments.filter(_ => _.Pending === false).map(_ => {
            return {
              Id: '' + _.Id,
              Name: _.Name,
              Public: _.Public,
              Order: _.Order || 1,
              Remove: _.Remove || false
            }
          })
        })
      }
      const atts = this.Attachments.filter(_ => _.Pending)
      while (atts.length > 0) {
        const _ = atts.pop() as IAttachment
        this.$Loading('przesyłam załącznik ' + _.Name + '...')
        await this.AddAttachment({
          DecreeId: this.id as number,
          Public: _.Public || false,
          Order: _.Order || 0,
          File: {
            Content: _.Content,
            Name: _.Name,
            OriginName: _.Origin,
            Type: _.Type,
            Extension: _.Name.split('.')[_.Name.split('.').length - 1],
            Size: _.Size || 0,
            Order: _.Order || 0,
            Public: _.Public || false
          }
        })
      }
      this.$router.push({
        path: '/decrees/preview',
        query: {
          id: this.id!.toString()
        }
      })
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  async $Created () {
    if (this.$route.query.id) {
      const _id: number | null = parseInt(this.$route.query.id as string, 10)
      if (!(isNaN(_id) || _id < 1)) {
        this.id = _id
      }
      if (this.id) {
        await this.Load(this.id)
      }
    }
  }
  async Load (id: number) {
    try {
      this.$Loading()
      this.Decree = await this.GetDecreeById(id)
      const mst = this.Decree!.Master
      this.Attachments = (this.Decree!.Attachments || []).map(_ => {
        return {
          Id: _.Id,
          Origin: _.Name || '-',
          Name: _.Name || '-',
          Pending: false,
          Order: _.Order,
          Public: _.Public,
          Remove: false
        }
      })
      this.PushAttachments()
      this.Public = mst ? mst.Public : true
      if (this.Decree!.StatusId === 3) {
        this.SubmitText = 'Zapisz'
      }
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
}
</script>
<style lang="scss">
.decrees-files {
  @media only screen and (max-width: 1919px) {
    .margin-top-non-xl {
      margin-top: 16px;
    }
  }
  .flip-list-move, .flip-list-enter-active, .flip-list-leave-active {
    transition: transform 0.3s;
  }
  .flip-list-leave-to {
    transform: translateX(600px);
  }
  .attachments-list {
    list-style-type: none;
    margin-block-start: 0;
    margin-top: 0
  }
  .attachments-list>.attachments-list__item {
    padding: 4px 4px 4px 4px;
  }
  .attachments-list__item-error {
    color: rgb(255, 0, 50);
    padding-left: 5px;
    font-size: small;
  }
  .attachments-list__item .el-badge {
    width: 100%;
  }
  .attachments-list__item .el-badge .el-badge__content {
      left: -60px;
      top: 5px;
      right: initial;
      opacity: 0.7;;
  }
  .attachments-list__item .el-input__suffix-inner>i.el-icon-refresh {
      font-size: 22px;
      margin-top: 8px;
      cursor: pointer;
  }
  .attachments-list__item .el-input__suffix-inner>i.el-icon-refresh:hover {
    color: rgb(85, 85, 170);
  }
  .attachments-list>.attachments-list__item--pending {
    background-color: rgba(85, 85, 170, 0.1);
  }
  .attachments-list>.attachments-list__item--remove {
    background-color: rgba(255, 0, 20, 0.2);
  }
  .attachments-list>.attachments-list__item--remove input.el-input__inner {
      text-decoration: line-through rgba(255, 0, 20, 0.3);
  }
  .attachments-list>.attachments-list__item:hover {
    background-color: rgba(85, 85, 170, 0.2);
  }
  .attachment-file__origin-name {
    color: rgb(85, 85, 170);
    font-size: small;
  }
  .public-checkbox {
      float: right;
      margin-top: -5px;
  }
  .master-file {
    min-height: 120px;
    border: 2px dashed rgba(85, 85, 170, 0.1);
    position: relative;
    cursor: pointer;
    line-height: 1.6rem;
  }
  .master-file:hover {
    border: 2px dashed rgba(85, 85, 170, 0.5);
    background-color: rgba(85, 85, 170, 0.1);
  }
  .files-actions {
    padding-top: 16px;
  }
  .existing-master img {
    vertical-align: middle;
  }
  .existing-master.override>span {
    text-decoration: line-through;
    text-decoration-color: red;
    color: grey;
  }
  .existing-master.override>img {
    opacity: 0.3;
  }
  .existing-master .el-button {
    margin-left: 16px;
  }
  .master-file__prompt {
    padding-top: 16px;
    text-align: center;
  }
  .master-file__name-explanation {
    color: #5555aa;
  }
  .master-file i {
    color: rgba(85, 85, 170, 0.3);
    font-size: 48px;
  }
  .master-file:hover i {
    color: rgba(85, 85, 170, 1);
    font-size: 48px;
  }
  .master-file__input {
    opacity: 0;
    width: 100%;
    height: 120px;
    position: absolute;
    cursor: pointer;
  }
}
</style>
