<template lang="pug">
  div.decrees-index
    pansa-breadcrumb(v-if='mode==="page"')
      el-breadcrumb-item(:to="{ name: 'decrees', params: {clear: true} }") Lista
    el-row(:gutter='10')
      el-col.xs-margin(:xs='24' :sm='8' :md='6')
        transition(name='el-zoom-in-top' v-if='mode==="page"')
          el-button(@click='AddDecree()' @click.middle.native='AddDecree(true)' type='primary' :disabled='!($IsAdmin || $IsSekretariat)') Nowy Akt
        transition(name='el-zoom-in-top' v-if='mode==="page"')
          el-button(@click='DecreeCreator()' @click.middle.native='DecreeCreator(true)' type='primary' :disabled='!($IsAdmin || $IsSekretariat)' point-me='decrees-creator-link') Kreator
        i.el-icon-search.picker-icon(v-else)
      el-col.xs-margin(:xs='24' :sm='16' :md='{span:14, offset:4}' :xl='{span:12, offset:6}')
        transition(name='el-zoom-in-top' appear)
          no-ssr
            el-row(type='flex')
              el-col(:span='2')
                el-tooltip(effect='dark' content='Pokaż pole "w sprawie"' :open-delay='1000' placement='top')
                  el-switch.show-case-switch(v-model='ShowCase')
              el-col(:span='22' point-me='decrees-search-wrapper')
                el-input(v-model='Search' placeholder='szukaj...' clearable @clear='SearchClicked' @keyup.enter.native='SearchClicked' point-me='decrees-search')
                  el-popover(popper-class='large-popper' v-model='ShowAdvancedButton' slot='prepend' trigger='manual' transition='el-zoom-in-top' v-if='!Mini')
                    el-badge(is-dot :hidden='!FilterIndicator' slot='reference' type='primary')
                      el-button(icon='el-icon-menu' @click='ToggleAdvanced')
                    .advanced-filters(v-if='Dict')
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='Status' :open-delay='1000' placement='left-end')
                          el-select(v-model='StatusFilter' placeholder='Status...' multiple)
                            el-option(v-for='item in Dict.DecreeStatuses'
                            :key='item.Id'
                            :label='item.Name'
                            :value='item.Id'
                            )
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='Rodzaj' :open-delay='1000' placement='left-end')
                          el-select(v-model='TypeFilter' placeholder='Rodzaj...' multiple)
                            el-option(v-for='item in Dict.DecreeTypes'
                            :key='item.Id'
                            :label='item.Name'
                            :value='item.Id'
                            )
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='Kto wydał' :open-delay='1000' placement='left-end')
                          el-select(v-model='PublisherFilter' placeholder='Kto wydał...' multiple collapse-tags)
                            el-option(v-for='item in Dict.Publishers'
                            :key='item.Id'
                            :label='item.Name'
                            :value='item.Id'
                            )
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='Dotyczy Zespołów' :open-delay='1000' placement='left-end')
                          el-select(v-model='TeamsFilter' placeholder='Dotyczy Zespołów...' clearable)
                            el-option(label='Tak' value='yes')
                            el-option(label='Nie' value='no')
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='Dotyczy Projektów' :open-delay='1000' placement='left-end')
                          el-select(v-model='ProjectsFilter' placeholder='Dotyczy Projektów...' clearable)
                            el-option(label='Tak' value='yes')
                            el-option(label='Nie' value='no')
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='Dotyczy Zamówień publicznych' :open-delay='1000' placement='left-end')
                          el-select(v-model='PublicProcurementFilter' placeholder='Dotyczy Zamówień publicznych...' clearable)
                            el-option(label='Tak' value='yes')
                            el-option(label='Nie' value='no')
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='W sprawie' :open-delay='1000' placement='left-end')
                          el-input(v-model='CaseFilter' placeholder='W sprawie...' clearable prefix-icon='el-icon-search')
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='Treść' :open-delay='1000' placement='left-end')
                          el-input(v-model='ContentFilter' placeholder='Treść...' clearable prefix-icon='el-icon-search')
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='Z dnia' :open-delay='1000' placement='left-end')
                          el-date-picker(v-model='DateFilter' type='daterange' start-placeholder='Z dnia [Od]...' end-placeholder='Z dnia [Do]...' range-separator='-')
                      .advanced-filters__item
                        el-tooltip(effect='dark' content='Kategorie' :open-delay='1000' placement='left-end')
                          el-select(v-model='TagsFilter' placeholder='Kategorie...' multiple)
                            el-option(v-for='item in Dict.DecreeTags'
                            :key='item.Id'
                            :label='item.Name'
                            :value='item.Id'
                            )
                      .advanced-filters__item
                        el-button(type='primary' @click='ApplyAdvancedFilter' :icon="Mini ? 'el-icon-check' : null")
                          span(v-if='!Mini') Zastosuj
                        el-button(type='secondary' @click='ClearAdvancedFilter' :icon="Mini ? 'el-icon-delete' : null")
                          span(v-if='!Mini') Wyczyść
                        el-button(@click='HideAdvancedFilter' :icon="Mini ? 'el-icon-close' : null")
                          span(v-if='!Mini') Anuluj
                  el-button(slot='append' icon='el-icon-search' @click='SearchClicked')
    no-ssr
      div.table-wrapper
        el-table(:expand-row-keys='ExpandIds()' :data='Data' v-if='Data !== null' @sort-change='OnSort' key='table' ref='table' row-key='Id' size='mini' @row-dblclick='OnRowDbClick' border stripe)
          el-table-column(type='expand')
            template(slot-scope='props')
              el-row(:gutter='10')
                el-col(:xs='24' :sm='8' :md='3' :xl='2')
                  h4 kategorie:
                  ul
                    li(v-for='tag in props.row._item.Tags' :key='tag.Id') {{tag.Name}}
                el-col(:xs='24' :sm='12' :md='21' :xl='22')
                  h4 w sprawie:
                  p.expanded-case {{props.row.Case}}
              
          el-table-column(v-for='col in Columns' :prop='col.Prop' :label='col.Label' :key='col.Prop' v-if='col.Disabled !== true'
          :sortable='col.Sortable ? "custom" : false'
          :filters='col.Filters'
          :column-key='col.Prop'
          :width='col.Width'
          :min-width='col.MinWidth')
          el-table-column(fixed='right' :width='Mini ? "60px" : "42px"')
            template(slot-scope='scope')
              el-button(icon='el-icon-arrow-right' circle @click='ViewItem(scope.row._item)' v-if='Mini && mode==="page"' type='primary' size='medium')
              el-button.micro-open-button(size='mini'
              @click.native='ViewItem(scope.row._item)'
              title='Klinij prawym przyciskiem myszy aby edytować'
              v-else-if='!Mini && mode==="page"'
              icon='el-icon-arrow-right'
              @contextmenu.prevent.native='EditItem(scope.row._item)'
              @click.middle.native='ViewItem(scope.row._item, true)')
              el-button.micro-open-button(size='mini'
              @click.native='SelectItem(scope.row._item)'
              title='Klinij aby wybrać ten akt'
              v-else-if='mode==="picker" && selected.indexOf(scope.row._item.Id) === -1'
              :disabled='!!scope.row._item.CanceledById'
              icon='el-icon-plus' type='primary')
              
        el-pagination(:disabled='$IsLoading()' v-if='Total' :total='Total' :page-size='Top' :current-page='Page' :key='"pager"+Page+"-"+Top' background layout='prev, slot, next' @current-change='OnPage')
          ul.el-pager
            li.number.active {{Page.toString()}}
</template>
<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import * as decrees from '~/store/modules/Decrees'
import { IDecree } from 'model/IDecree'
import { namespace } from 'vuex-class'
import { IDictBag } from 'model/IDictionaryItem'
import { IGetDecreesFilter } from 'model/IGetDecrees'
import Roles from '~/mixins/roles'
import Common from '~/mixins/common'

import * as dictionaries from '~/store/modules/Dictionaries'
import PansaBreadcrumb from '~/components/PansaBreadcrumb.vue'

const noFilters = [
  'null',
  '{"Uid":[],"Publisher":[],"Status":[],"Type":[],"Tags":[],"Date":[],"Case":null,"Content":null,"Teams":null,"Projects":null,"PublicProcurement":null}']

const Dictionaries = namespace(dictionaries.name)

interface Dump {
  Page: number,
  Top: number,
  OrderBy: string | null,
  Desc: Boolean,
  Search: string | null,
  Filter: IGetDecreesFilter | null,
  TypeFilter: number[],
  PublisherFilter: number[],
  StatusFilter: number[],
  TagsFilter: number[],
  CaseFilter: string,
  ContentFilter: string,
  UidFilter: number[],
  DateFilter: Array<Date>,
  ProjectsFilter: string | null,
  TeamsFilter: string | null,
  PublicProcurementFilter: string | null,
  ShowCase: Boolean
}

interface ITableDataEntry {
  Id: string,
  Type: string,
  Uid: string,
  Publisher: string,
  Date: string,
  Case: string,
  Canceled: string,
  Projects: string,
  Teams: string,
  Status: string,
  PublicProcurement: string,
  _item: IDecree
}

const Decrees = namespace(decrees.name)
@Component({
  components: { PansaBreadcrumb }
})
export default class extends Mixins(Common, Roles) {
  @Dictionaries.Action GetDictionaries
  @Decrees.Action GetDecrees
  @Decrees.Action LockUid
  @Prop({
    type: String,
    default: 'page'
  }) mode?: string
  @Prop({
    type: Array
  }) defaultStatusFilter?: number[]
  @Prop({
    type: Array,
    default: function () {
      return []
    }
  }) selected?: number[]
  Mini: boolean = false
  Data: Array<ITableDataEntry> | null = null
  Search: string = ''
  Top: number = process.server ? 10 : window.innerHeight > 649 ? 20 : 10
  Total: number = 0
  Page: number = 1
  OrderBy: string | null = null
  Desc: Boolean = false
  TypeFilter: number[] = []
  PublisherFilter: number[] = []
  StatusFilter: number[] = []
  TagsFilter: number[] = []
  CaseFilter: string = ''
  ContentFilter: string = ''
  UidFilter: number[] = [0, 500]
  DateFilter: Array<Date> = []
  ProjectsFilter: string | null = null
  TeamsFilter: string | null = null
  PublicProcurementFilter: string | null = null
  Dict: IDictBag | null = null
  lastSearch: string | null = null
  lastOrderBy: string | null = null
  lastDesc: Boolean = false
  lastFilter: string = 'null'
  SimpleFilter: Boolean = true
  ShowAdvancedButton: Boolean = false
  ShowAdvancedBadge: Boolean = false
  ShowCase: Boolean = false
  Filter: IGetDecreesFilter | null = null
  get FilterIndicator (): boolean {
    return noFilters.indexOf(this.lastFilter) === -1
  }

  Columns = [
    { Prop: 'Type', Label: 'Rodzaj', Sortable: true, MinWidth: '120px' },
    { Prop: 'Publisher', Label: 'Kto wydał', Sortable: true, MinWidth: '200px' },
    { Prop: 'Date', Label: 'Z dnia', Sortable: true, Width: '86px' },
    { Prop: 'Uid', Label: 'Numer', Sortable: true, Width: '86px' },
    { Prop: 'Status', Label: 'Status', Sortable: true, Width: '120px' },
    { Prop: 'Canceled', Label: 'Anulowany?', Sortable: true, Width: '120px' },
    { Prop: 'ChangedByAny', Label: 'Zmieniony?', Sortable: true, Width: '116px' },
    { Prop: 'Projects', Label: 'Projekty?', Sortable: true, Width: '106px' },
    { Prop: 'PublicProcurement', Label: 'Zamówienia publiczne?', Sortable: true, Width: '110px' },
    { Prop: 'Teams', Label: 'Zespoły?', Sortable: true, Width: '104px' },
    { Prop: 'Master', Label: 'Dokument', Sortable: true, MinWidth: '120px', Disabled: true },
    { Prop: 'Id', Label: 'Id', Sortable: true, Width: '88px', Disabled: true }
  ]

  ExpandIds () {
    if (!this.ShowCase) {
      return []
    } else {
      return this.Data!.map(_ => _.Id)
    }
  }
  $OnResize () {
    this.Mini = (window.innerWidth <= 768)
  }
  ToggleShowCase () {
    this.ShowCase = !this.ShowCase
  }
  async $Created () {

    if (this.mode === 'picker') {
      if (this.defaultStatusFilter && this.defaultStatusFilter.length > 0) {
        this.StatusFilter = this.defaultStatusFilter
        const f = JSON.parse(noFilters[1]) as IGetDecreesFilter
        f.Status = this.defaultStatusFilter
        this.lastFilter = JSON.stringify(f)
        this.Filter = f
      }
    }

    this.Data = []
    let restoring = false
    this.$Loading()

    if (!(this.$route.params && this.$route.params.clear) && this.mode === 'page') {
      this.Restore()
      restoring = true
    }

    this.Dict = await this.GetDictionaries()
    await this.Load(restoring)
    if (restoring) {
      if (this.OrderBy) {
        this.$nextTick(() => { // Hack :P
          try {
            const states = (this.$refs.table as any).store.states
            const col = states._columns.find(c => {
              return c.property === this.OrderBy
            })
            if (col) {
              col.order = this.Desc ? 'descending' : 'ascending'
              states.sortProp = this.OrderBy
              states.sortOrder = this.Desc ? 'descending' : 'ascending'
              states.sortingColumn = col
            }
          } catch {
            // ignore it
          }
        })
      }
    }
  }
  ToggleAdvanced () {
    this.ShowAdvancedButton = !this.ShowAdvancedButton
  }
  async OnCommand (cmd) {
    if (cmd.indexOf('lockUid_') === 0) {
      const id = parseInt(cmd.replace('lockUid_',''), 10)
      try {
        await this.LockUid(id)
        this.$Success('Nadanano numer')
        await this.Load()
      } catch (err) {
        this.$Error(err.message)
      }
    } else if (cmd.indexOf('edit_') === 0) {
      const id = parseInt(cmd.replace('edit_',''), 10)
      this.$router.push('/decrees/edit?id=' + id)
    }
  }
  async OnPage (page) {
    if (this.Page !== page) {
      this.Page = page
      await this.Load()
    }
  }
  Restore (): void {
    const d = this.$Restore() as Dump
    if (d) {
      d.DateFilter = d.DateFilter.map(x => {
        return new Date(x)
      })
      this.ShowCase = d.ShowCase || false
      this.Filter = d.Filter
      this.Page = d.Page
      this.Top = d.Top
      this.Search = d.Search || ''
      this.OrderBy = d.OrderBy
      this.Desc = d.Desc
      this.Data = []

      this.TypeFilter = d.TypeFilter.slice()
      this.PublisherFilter = d.PublisherFilter
      this.StatusFilter = d.StatusFilter || []
      this.TagsFilter = d.TagsFilter.slice()
      this.CaseFilter = d.CaseFilter
      this.ContentFilter = d.ContentFilter
      this.UidFilter = d.UidFilter.slice()
      this.DateFilter = d.DateFilter
      this.ProjectsFilter = d.ProjectsFilter
      this.TeamsFilter = d.TeamsFilter
      this.PublicProcurementFilter = d.PublicProcurementFilter
    }
  }
  // beforeRouteLeave (to, from, next) {
  //   this.Dump(to.fullPath, from.fullPath)
  //   // window.sessionStorage.setItem('--decrees-list-dump', JSON.stringify(this.Dump(to, from)))
  //   next()
  // }

  $Dump (): Dump {
    return {
      Page: this.Page,
      Top: this.Top,
      OrderBy: this.OrderBy,
      Desc: this.Desc,
      Filter: this.Filter ? this.$CloneObject(this.Filter) : null,
      Search: this.Search,
      TypeFilter: this.TypeFilter.slice(),
      PublisherFilter: this.PublisherFilter,
      StatusFilter: this.StatusFilter,
      TagsFilter: this.TagsFilter.slice(),
      CaseFilter: this.CaseFilter,
      ContentFilter: this.ContentFilter,
      UidFilter: this.UidFilter.slice(),
      DateFilter: this.DateFilter,
      ProjectsFilter: this.ProjectsFilter,
      TeamsFilter: this.TeamsFilter,
      PublicProcurementFilter: this.PublicProcurementFilter,
      ShowCase: this.ShowCase
    }
  }

  async ApplyAdvancedFilter () {
    this.ShowAdvancedButton = false
    this.Filter = {
      Uid: this.UidFilter[1] !== 500 && this.UidFilter[0] !== 0 ? this.UidFilter : [],
      Publisher: this.PublisherFilter.slice(),
      Status: this.StatusFilter.slice(),
      Type: this.TypeFilter.slice(),
      Tags: this.TagsFilter.slice(),
      Date: this.DateFilter,
      Case: this.CaseFilter || null,
      Content: this.ContentFilter || null,
      Teams: this.TeamsFilter === 'yes' ? true : this.TeamsFilter === 'no' ? false : null,
      Projects: this.ProjectsFilter === 'yes' ? true : this.ProjectsFilter === 'no' ? false : null,
      PublicProcurement: this.PublicProcurementFilter === 'yes' ? true : this.PublicProcurementFilter === 'no' ? false : null
    }
    if (this.lastFilter !== JSON.stringify(this.Filter)) {
      await this.Load()
    }
    this.ShowAdvancedBadge = true
  }
  HideAdvancedFilter () {
    this.ToggleAdvanced()
  }

  async ClearAdvancedFilter () {
    this.ShowAdvancedButton = false
    this.TypeFilter = []
    this.PublisherFilter = []
    this.StatusFilter = []
    this.TagsFilter = []
    this.CaseFilter = ''
    this.ContentFilter = ''
    this.UidFilter = [0,500]
    this.DateFilter = []
    this.ProjectsFilter = null
    this.TeamsFilter = null
    this.PublicProcurementFilter = null
    await this.ApplyAdvancedFilter()
    this.ShowAdvancedBadge = false
  }
  async Load (restoring: boolean = false) {
    this.$Loading()
    const filter = JSON.stringify(this.Filter)
    if (!restoring) {
      if (this.Search !== this.lastSearch) {
        this.Page = 1
      }
      if (this.OrderBy !== this.lastOrderBy || this.Desc !== this.lastDesc) {
        this.Page = 1
      }
      if (filter !== this.lastFilter) {
        this.Page = 1
      }
    }
    this.lastFilter = filter
    this.lastSearch = this.Search
    this.lastOrderBy = this.OrderBy
    this.lastDesc = this.Desc

    let orderby = this.OrderBy
    if (orderby === 'Publisher' || orderby === 'Type' || orderby === 'Status' || orderby === 'Master') {
      orderby = orderby + '.Name'
    }
    if (orderby === 'Canceled') {
      orderby = 'CanceledByAny'
    }

    const result = await this.GetDecrees({
      Skip: (this.Page * this.Top - this.Top),
      Top: this.Top,
      Count: true,
      ExpandDictionaries: true,
      Search: this.Search,
      OrderBy: orderby,
      Desc: this.Desc,
      Filter: this.Filter
    })
    this.Data = this.Format(result.Value)
    this.Total = result.Count
    this.$Loaded()
  }
  async OnSort ({ prop, order }) {
    this.OrderBy = prop
    this.Desc = order === 'descending'

    if (this.OrderBy !== this.lastOrderBy || this.Desc !== this.lastDesc) {
      await this.Load()
    }
  }
  OnRowDbClick (row) {
    this.ViewItem(row._item)
  }
  async SearchClicked () {
    this.Search = (this.Search || '').split(' ').filter(_ => !!_).join(' ').trim()

    if (this.Search === '!pomocy') {
      window['__help']()
      this.Search = ''
    }

    if (this.Search !== this.lastSearch) {
      await this.Load()
    }
  }
  AddDecree (newWindow: boolean = false) {
    newWindow = newWindow || window.event!['ctrlKey']
    const url = '/decrees/create'
    if (!newWindow) {
      this.$router.push(url)
    } else {
      window.open(url, '_blank')!.focus()
    }
  }
  DecreeCreator (newWindow: boolean = false) {
    newWindow = newWindow || window.event!['ctrlKey']
    const url = '/decrees/creator'
    if (!newWindow) {
      this.$router.push(url)
    } else {
      window.open(url, '_blank')!.focus()
    }
  }
  EditLink (scope: any) {
    return '/decrees/edit?id=' + scope.row._item.Id
  }
  EditItem (item: any, newWindow: boolean = false) {
    newWindow = newWindow || window.event!['ctrlKey']
    const url = '/decrees/edit?id=' + item.Id
    if (!newWindow) {
      this.$router.push(url)
    } else {
      window.open(url, '_blank')!.focus()
    }
  }
  ViewItem (item: any, newWindow: boolean = false) {
    newWindow = newWindow || window.event!['ctrlKey']
    const url = '/decrees/preview?id=' + item.Id
    if (!newWindow) {
      this.$router.push(url)
    } else {
      window.open(url, '_blank')!.focus()
    }
  }
  SelectItem (item: any) {
    this.$emit('selected', item)
  }
  Format (data: Array<IDecree>): Array<ITableDataEntry> {
    return data.map(item => {
      return {
        Id: '#' + item.Id,
        Status: item.Status!.Name,
        Type: item.Type!.Name,
        Uid: item.Uid ? this.$ZeroPad(item.Uid, 3) : '-',
        Publisher: item.Publisher!.Name,
        Date: this.$FormatDate(item.Date),
        Master: item.Master ? item.Master.Name : '-',
        Case: item.Case || '-',
        Canceled: item.CanceledById ? 'Tak' : 'Nie', // ToDo
        ChangedByAny: (item.ChangedByAny || false) ? 'Tak' : 'Nie', // ToDo
        Projects: item.Projects ? 'Tak' : 'Nie',
        Teams: item.Teams ? 'Tak' : 'Nie',
        PublicProcurement: item.PublicProcurement ? 'Tak' : 'Nie',
        _item: item
      }
    })
  }
}
</script>
<style lang="scss">
.advanced-filters {
  .advanced-filters__item {
    padding: 5px;
  }

  .advanced-filters__item > .el-select, .advanced-filters__item > .el-date-editor {
    width: 100%;
  }

  .advanced-filters__uid > .el-input-number--mini {
    width: 80px;
  }
  .advanced-filters__uid > .el-input-number--mini > .el-input--mini > .el-input__inner {
    padding-left: 0px;
  }

  .advanced-filters__uid > .el-slider {
    width: 250px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 12px;
    margin-right: 13px;
  }

  .advanced-filters__uid > .el-slider > .el-slider__runway {
    margin: 11px 0;
  }
  .el-button {
    margin-bottom: 5px;
  }
}
  
.decrees-index {
  i.el-icon-search.picker-icon {
      font-size: 30px;
      margin-left: 26px;
      margin-top: 10px;
      color: rgb(85, 85, 170);
  }
  .el-table__row.expanded td {
    border-bottom-width: 0 !important;
  }
  .el-button.micro-open-button {
    padding: 7px 7px;
  }
  .el-button.micro-open-button>i.el-icon-arrow-right {
    font-weight: bold;
    color: rgb(85, 85, 170);
  }
  .table-wrapper {
    min-height: 400px;
  }
  .table-wrapper th.el-table__expand-column {
    padding-top: 0;
  }
  .table-wrapper th.el-table__expand-column>.cell {
    padding-left: 0;
    padding-right: 0;
  }
  .table-wrapper .el-table__expanded-cell {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
  }
  .table-wrapper .el-table__expanded-cell h4 {
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .table-wrapper .el-table__expanded-cell>.expanded-case {
    max-width: 900px;
  }
  .show-case-switch {
    margin-top: 10px;
    float: right;
    margin-right: 8px;
  }
  @media only screen and (max-width: 768px) {
    .table-wrapper .el-table__body-wrapper:not(.is-scrolling-right)~.el-table__fixed-right {
      opacity: 0.6;
    }
    
  }
  @media only screen and (max-width: 560px) {
    .large-popper {
      width: 95%;
    }
  }
  @media only screen and (min-width: 560px) {
    .large-popper {
      min-width: 550px;
    }
  }


  .el-table th .cell {
    word-break: keep-all;
  }

  .actions-menu {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
</style>
