<template lang="pug">
  div.decrees-preview
    el-card.master-file-preview__wrapper(v-if='PreviewUrl')
      div(slot='header')
        img.decree-preview__file-image(:src='ResolveIcon(PreviewTitle)')
        span.decree-preview__file-name {{PreviewTitle}}
        i.el-icon-close(@click="PreviewUrl=null" )
      iframe.master-file-preview__frame(ref='doc' :src='PreviewUrl')
    pansa-breadcrumb(v-if='!PreviewUrl')
      el-breadcrumb-item(:to="{ name: 'decrees', params: {clear: true} }") Lista
      el-breadcrumb-item(:to="{ name: 'decrees-preview', query: {id: id} }") \#{{id}}
      el-breadcrumb-item(:to="{ name: 'decrees-preview', query: {id: id} }") Podgląd
    div.decree-preview-wrapper(v-if='!PreviewUrl')
      el-row(:gutter='Gutter' v-if='Decree')
        el-col
          .decree-preview-row
            h3.decree-preview__title
              span.decree-preview__type {{Decree.Type.Preview + ' '}}
              span.decree-preview__publisher {{Decree.Publisher.Preview}}
              span.decree-preview__day {{day}}
              span.decree-preview__date {{$FormatDecreeDate(Decree.Date)}}
              span.decree-preview__uid(v-if='Decree.Uid') [Nr: {{$ZeroPad(Decree.Uid, 3)}}]
      el-row(:gutter='Gutter' v-if='Decree && HorizontalMenu')
        el-col
          el-menu.decree-item-menu(:collapse="false" mode="horizontal" ref="ElMenuHorizontal")
            el-menu-item(@click='Cancel' index='cancel' :style='{width:HorizontalMenuItemWidth}')
              i.el-icon-arrow-left
              span.hidden-xs-only(slot='title') Powrót do Listy
            el-menu-item(@click='Edit' v-if='($IsAdmin || $IsSekretariat) && Decree.StatusId !== 10' index='edit' :style='{width:HorizontalMenuItemWidth}')
              i.el-icon-edit
              span.hidden-xs-only(slot='title') Edytuj
            el-menu-item(@click='LockDecreeUid' v-if='($IsAdmin || $IsSekretariat) && (Decree.StatusId === 1)' index='lock' :style='{width:HorizontalMenuItemWidth}')
              i.el-icon-check
              span.hidden-xs-only(slot='title') Nadaj numer
            el-menu-item(@click='Delete' v-if='($IsAdmin || $IsSekretariat)' index='delete' :style='{width:HorizontalMenuItemWidth}')
              i.el-icon-delete
              span.hidden-xs-only(slot='title') Usuń
            el-menu-item(@click='Release' v-if='($IsAdmin || $IsSekretariat) && Decree.StatusId === 2' index='release' :style='{width:HorizontalMenuItemWidth}')
              i.el-icon-refresh
              span.hidden-xs-only(slot='title') Zwolnij numer
            el-menu-item(@click='Publish' v-if='($IsAdmin || $IsSekretariat) && Decree.StatusId === 2' index='publish' :style='{width:HorizontalMenuItemWidth}')
              i.el-icon-share
              span.hidden-xs-only(slot='title') Opublikuj
            el-menu-item(@click='Files' v-if='($IsAdmin || $IsSekretariat) && (Decree.StatusId === 2 || Decree.StatusId === 3)' index='files' :style='{width:HorizontalMenuItemWidth}')
              i.el-icon-upload2
              span.hidden-xs-only(slot='title') Pliki
            el-menu-item(@click='CancelDecree' v-if='($IsAdmin || $IsSekretariat) && Decree.StatusId === 3' index='close' :style='{width:HorizontalMenuItemWidth}')
              i.el-icon-close
              span.hidden-xs-only(slot='title') Anuluj ten akt
            el-menu-item(@click='ModifyDecree' v-if='($IsAdmin || $IsSekretariat) && Decree.StatusId === 3' index='modify')
              i.el-icon-edit-outline
              span.hidden-xs-only(slot='title') Zmień ten akt
            el-menu-item(@click='Relationships' index='relationships')
              i.el-icon-rank
              span.hidden-xs-only(slot='title') Relacje
      el-row(:gutter='Gutter' v-if='Decree')
        el-col(:xs='HorizontalMenu ? 24 : 21' :sm='18' :md='18' :lg='18' :xl='12')
          .decree-preview-row
            .decree-preview-tip(v-if='Decree.StatusId !== 3')
              p Akt znajduje się w statusie: 
                span.decree-preview-tip__status {{Decree.Status.Name}}
            .decree-preview-tip(v-if='!!Decree.CanceledById')
              p ten akt został 
                span.decree-preview-tip__status  anulowany
          .decree-preview-row(v-if='Decree.Master')
            el-card
              div(slot='header') Dokument
                el-tooltip(effect='dark' content='pobierz dokument' :open-delay='1000' placement='top')
                  el-button.decree-preview__file-download(icon='el-icon-download' circle @click='DownloadMasterFile' type='primary' size='small')
              .decree-preview__files
                  .decree-preview__file
                    el-tooltip(effect='dark' content='otwórz dokument' :open-delay='1000' placement='top')
                      img.decree-preview__file-image(width='32px' @click='OpenMasterFile' :src='ResolveIcon(Decree.Master.Extension)')
                    el-tooltip(effect='dark' content='otwórz dokument' :open-delay='1000' placement='top')
                      span.decree-preview__file-name(@click='OpenMasterFile') {{ HorizontalMenu ? 'Otwórz' : Decree.Master.Name}}
          .decree-preview-row(v-if='Decree.Attachments && Decree.Attachments.length > 0')
            el-card
              div(slot='header') Załączniki
              .decree-preview__files.decree-preview__files--attachments
                el-row(v-for='att in Decree.Attachments' :key='att.Id' type='flex')
                  el-col(:span='1')
                    el-tooltip(effect='dark' content='pobierz załącznik' :open-delay='1000' placement='top')
                        i.el-icon-download(@click='DownloadAttachmentFile(att)' style='padding-top:5px')
                  el-col
                    .decree-preview__file
                      el-tooltip(effect='dark' content='otwórz załącznik' :open-delay='1000' placement='top')
                        span.decree-preview__file-name(@click='OpenAttachmentFile(att)') {{ HorizontalMenu ? 'Otwórz' : att.Name}}
          .decree-preview-row(v-if='Decree.Teams || Decree.Projects || Decree.PublicProcurement')
            el-card
              div(slot='header') Dotyczy
              el-row.decree-preview__metatags(type='flex' :gutter='Gutter')
                el-col(v-if='Decree.Teams')
                  img(src='/team.svg' width='60px')
                  div(style='color:#5555aa;') Zespołów
                el-col(v-if='Decree.Projects')
                  img(src='/project.svg' width='60px')
                  div(style='color:#4CAF50;') Projektów
                el-col(v-if='Decree.PublicProcurement')
                  img(src='/basket.svg' width='60px')
                  div(style='color:#4687a5;') Zamówień publicznych
          .decree-preview-row
            el-card
              div(slot='header') W sprawie
              em.decree-preview__case {{Decree.Case}}
          .decree-preview-row
            el-card(v-if='Decree && Decree.Content')
              div(slot='header') O treści
              em.decree-preview__content {{Decree.Content}}
          .decree-preview-row(v-if='Decree.Tags && Decree.Tags.length > 0')
            div.decree-preview-tags
              el-tag(v-for='tag in Decree.Tags' :key='tag.Id') {{tag.Name}}
        el-col(:xs='3'  :sm='6'  :md='6'  :lg='6'  :xl='5' v-if='!HorizontalMenu')
          el-menu.decree-item-menu(:collapse="MenuCollapsed")
            el-menu-item(@click='Cancel' index='cancel')
              i.el-icon-arrow-left
              span(slot='title') Powrót do Listy
            el-menu-item(@click='Edit' v-if='Decree.StatusId !== 10 && ($IsAdmin || $IsSekretariat)' index='edit')
              i.el-icon-edit
              span(slot='title') Edytuj
            el-menu-item(@click='Files' v-if='($IsAdmin || $IsSekretariat) && (Decree.StatusId === 2 || Decree.StatusId === 3)' index='files')
              i.el-icon-upload2
              span(slot='title') Pliki
            el-menu-item(@click='LockDecreeUid' v-if='($IsAdmin || $IsSekretariat) && (Decree.StatusId === 1)' index='lock')
              i.el-icon-check
              span(slot='title') Nadaj numer
            el-tooltip(:open-delay='1000' :content='DisableDeleteText' placement='top-start' :disabled='!DisableDelete')
              el-menu-item(@click='Delete' v-if='($IsAdmin || $IsSekretariat)' index='delete' :disabled='DisableDelete')
                i.el-icon-delete
                span(slot='title') Usuń
            el-tooltip(:open-delay='1000' :content='DisableReleaseText' placement='top-start' :disabled='!DisableRelease')
              el-menu-item(@click='Release' v-if='($IsAdmin || $IsSekretariat) && Decree.StatusId === 2' index='release' :disabled='DisableRelease')
                i.el-icon-refresh
                span(slot='title') Zwolnij numer
            el-tooltip(:open-delay='1000' :content='DisablePublishText' placement='top-start' :disabled='!DisablePublish')
              el-menu-item(@click='Publish' v-if='($IsAdmin || $IsSekretariat) && Decree.StatusId === 2' index='publish' :disabled='DisablePublish')
                i.el-icon-share
                span(slot='title') Opublikuj
            el-tooltip(:open-delay='1000' :content='DisableCloseText' placement='top-start' :disabled='!DisableClose')
              el-menu-item(@click='CancelDecree' v-if='($IsAdmin || $IsSekretariat) && Decree.StatusId === 3' index='close' :disabled='DisableClose')
                i.el-icon-close
                span(slot='title') Anuluj ten akt
            el-tooltip(:open-delay='1000' :content='DisableModifyText' placement='top-start' :disabled='!DisableModify')
              el-menu-item(@click='ModifyDecree' v-if='($IsAdmin || $IsSekretariat) && Decree.StatusId === 3' index='modify' :disabled='DisableModify')
                i.el-icon-edit-outline
                span(slot='title') Zmień ten akt
            el-menu-item(@click='Relationships' index='relationships')
              i.el-icon-rank
              span(slot='title') Relacje
      el-row(:gutter='Gutter' v-if='Decree')
        el-col(:xs='24' :sm='16' :md='12' :lg='10' :xl='8')
          .decree-preview-logs
            h3.decree-preview-logs__title Historia zmian aktu
            el-timeline
              el-timeline-item(v-for='log in Decree.Logs' :key='log.Date'
              :timestamp='$FormatDateTime(new Date(log.Date))'
              placement='top'
              color='rgb(85, 85, 170)'
              size='large')
                el-card
                  i.decree-preview-log-item__icon(:class='GetEventIcon(log.EventId)')
                  .decree-preview-log-item__event {{log.Event}}
                  ul.decree-preview-log-bullets(v-if='log.Bullets && log.Bullets.length > 0' style='margin-inline-start: 18px')
                    li.decree-preview-log-bullet(v-for='bullet in log.Bullets') {{bullet}}
                  .decree-preview-log-item__author przez: {{log.UserName}}
          
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import { IDecree } from 'model/IDecree'
import * as decrees from '~/store/modules/Decrees'
import { namespace } from 'vuex-class'
import Roles from '~/mixins/roles'
import Common from '~/mixins/common'
import Errors from '~/mixins/errors'
import PansaBreadcrumb from '~/components/PansaBreadcrumb.vue'
import save from 'save-file'

const SaveFile = save
const Decrees = namespace(decrees.name)
@Component({
  components: { PansaBreadcrumb },
  validate: ({ query }): boolean => {
    const id = parseInt(query.id as string, 10)
    if (isNaN(id) || id <= 0) {
      return false
    }
    return true
  }
})
export default class extends Mixins(Roles, Common, Errors) {
  @Decrees.Action GetDecreeById
  @Decrees.Action LockUid
  @Decrees.Action DeleteDecree
  @Decrees.Action PublishDecree
  @Decrees.Action ReleaseUid
  @Decrees.Action GetMasterFileContent
  @Decrees.Action GetAttachmentFileContent

  DisableDelete: boolean = false
  DisableRelease: boolean = false
  DisablePublish: boolean = false
  DisableClose: boolean = false
  DisableModify: boolean = false

  DisableDeleteText: string = 'Zwolnij nadany numer przed usunięciem'
  DisableReleaseText: string = 'Usuń dokument zanim zwolnisz numer'
  DisablePublishText: string = 'Dodaj dokument zanim opublikujesz Akt'
  DisableCloseText: string = 'ten akt jest już anulowane'
  DisableModifyText: string = 'ten akt jest anulowane,\n nie zmieniaj go'

  id: number = 0
  Decree: IDecree | null = null
  day: string = ' dnia '
  by: string = ' wydane przez '
  MenuCollapsed: boolean = false
  HorizontalMenu: boolean = false
  HorizontalMenuItemWidth: string = ''
  ResizeHandler: any = null
  Gutter: number = 10
  PreviewUrl: string | null = null
  PreviewTitle: string = 'podgląd'
  async OpenAttachmentFile (att) {
    if (window.navigator.userAgent.indexOf('Trident/') !== -1) {
      await this.DownloadAttachmentFile(att)
      return
    }
    const ext = att.Extension.toLowerCase()
    this.PreviewTitle = att.Name
    if (ext !== 'txt' && ext !== 'pdf') {
      await this.DownloadAttachmentFile(att)
      this.$Alert('Nie udało się otworzyć pliku w przeglądarce', 'podgląd załącznika')
      return
    }
    const buffer = await this.GetAttachmentFileContent({ DecreeId: this.Decree!.Id, AttachmentId: att.Id })
    const blob = new Blob([buffer], { type: att.Type })
    const url = URL.createObjectURL(blob)
    this.PreviewUrl = url
    // await SaveFile(buffer, 'test.pdf')
  }
  async OpenMasterFile () {

    if (window.navigator.userAgent.indexOf('Trident/') !== -1) {
      await this.DownloadMasterFile()
      return
    }

    const ext = this.Decree!.Master!.Extension.toLowerCase()
    this.PreviewTitle = this.Decree!.Master!.Name || 'podgląd'
    if (ext !== 'txt' && ext !== 'pdf') {
      await this.DownloadMasterFile()
      this.$Alert('Nie udało się otworzyć dokumentu w przeglądarce', 'podgląd dokumentu')
      return
    }
    const buffer = await this.GetMasterFileContent(this.id)
    const blob = new Blob([buffer], { type: this.Decree!.Master!.Type })
    const url = URL.createObjectURL(blob)
    this.PreviewUrl = url
    // await SaveFile(buffer, 'test.pdf')
  }
  async DownloadMasterFile () {
    const buffer = await this.GetMasterFileContent(this.id)
    await SaveFile(buffer, this.Decree!.Master!.Name)
  }
  async DownloadAttachmentFile (att) {
    const buffer = await this.GetAttachmentFileContent({ DecreeId: this.Decree!.Id, AttachmentId: att.Id })
    await SaveFile(buffer, att.Name)
  }

  SetMenuItemWidth () {
    if (this.$refs.ElMenuHorizontal) {
      const count = this.$refs.ElMenuHorizontal['$children'].length
      if (count === 6 || count === 3) {
        this.HorizontalMenuItemWidth = '33%'
      } else if (count === 4) {
        this.HorizontalMenuItemWidth = '25%'
      } else if (count === 5) {
        this.HorizontalMenuItemWidth = '20%'
      } else if (count <= 2) {
        this.HorizontalMenuItemWidth = '50%'
      }
    }
  }

  $OnResize () {
    this.MenuCollapsed = (window.innerWidth <= 768)
    this.HorizontalMenu = (window.innerWidth <= 500)
    this.Gutter = this.HorizontalMenu ? 2 : 10

    if (this.HorizontalMenu) {
      this.$nextTick(() => {
        this.SetMenuItemWidth()
      })
    }
  }
  async $Created () {
    this.id = parseInt(this.$route.query.id as string, 10)
    await this.Load()
  }
  ResolveIcon (extension: string) {
    if (extension.indexOf('.') >= 0) {
      extension = extension.split('.')[extension.split('.').length - 1]
    }
    const std = ['pdf', 'docx', 'xlsx']
    extension = (std.indexOf(extension) >= 0) ? extension : 'gen'
    return `/icons/48_ic${extension}.png`
  }
  async Load () {
    const id: number = this.id
    this.$Loading()
    try {
      this.Decree = await this.GetDecreeById(id)

      this.DisableClose = !!this.Decree!.CanceledById
      this.DisableModify = !!this.Decree!.CanceledById
      this.DisableDelete = !!this.Decree!.Uid
      this.DisableRelease = !!this.Decree!.Master
      this.DisablePublish = !this.Decree!.Master
      if (this.DisableDelete && this.Decree!.StatusId === 3) {
        this.DisableDeleteText = 'Nie można usunąć opublikowanego aktu'
      }

      this.$nextTick(() => {
        this.SetMenuItemWidth()
      })
      const l = this!.Decree!.Logs
      if (l) {
        this.Decree!.Logs = l.sort((b,a) => {
          return (new Date(a.Date)).getTime() - (new Date(b.Date)).getTime()
        })
      }
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  GetEventIcon (eventId: string): string {
    switch (eventId) {
      case 'created':
        return 'el-icon-document'
      case 'locked':
        return 'el-icon-check'
      case 'uid_released':
        return 'el-icon-refresh'
      case 'draft_updated':
        return 'el-icon-edit'
      case 'locked_updated':
        return 'el-icon-edit'
      case 'published_updated':
        return 'el-icon-edit'
      case 'published':
        return 'el-icon-share'
      case 'masterfile_created':
        return 'el-icon-upload2'
      case 'masterfile_updated':
        return 'el-icon-upload2'
      case 'masterfile_removed':
        return 'el-icon-delete'
      default:
        return 'el-icon-document'
    }
  }
  Cancel () {
    const next = {
      name: 'decrees',
      params: {}
    }
    this.$router.push(next)
  }
  Edit () {
    this.$router.push('/decrees/edit?id=' + this.id)
  }
  Relationships () {
    this.$router.push('/decrees/relationships?id=' + this.id)
  }
  CancelDecree () {
    this.$router.push('/decrees/create?cancel=' + this.id)
  }
  ModifyDecree () {
    this.$router.push('/decrees/create?modify=' + this.id)
  }
  Files () {
    this.$router.push('/decrees/files?id=' + this.id)
  }
  async Delete () {
    let success = false
    if (await this.$SafeConfirm({ message: 'Czy na pewno chcesz usunąć ten akt?' })) {
      this.$Loading()
      try {
        await this.DeleteDecree(this.Decree)
        success = true
      } catch (err) {
        this.$HandleError(err)
      } finally {
        this.$Loaded()
      }
      if (success) {
        this.$router.replace({
          name: 'decrees',
          params: {
            $success: 'Akt został usunięty'
          }
        })
      }
    }
  }
  async Publish () {
    let success = false
    if (await this.$SafeConfirm({ message: 'Czy na pewno chcesz opublikować ten akt?\nBędzie dostępne dla wszystkich użytkowników intranetu' })) {
      this.$Loading()
      try {
        await this.PublishDecree(this.Decree)
        success = true
      } catch (err) {
        this.$HandleError(err)
      } finally {
        this.$Loaded()
      }
      if (success) {
        await this.Load()
        this.$Success('Akt został opublikowany')
      }
    }
  }
  async Release () {
    let success = false
    if (await this.$SafeConfirm({ message: 'Czy na pewno chcesz zwolnić nadany numer?\nJeśli nadasz go ponownie, może nie być taki sam.' })) {
      this.$Loading()
      try {
        await this.ReleaseUid(this.Decree)
        success = true
      } catch (err) {
        this.$HandleError(err)
      } finally {
        this.$Loaded()
      }
      if (success) {
        await this.Load()
        this.$Success('Numer został zwolniony')
      }
    }
  }
  async LockDecreeUid () {
    let success = false
    if (await this.$SafeConfirm({ message: 'Czy na pewno chcesz nadać numer temu aktowi?\nTa operacja zablokuje kolejkę numeracji.' })) {
      this.$Loading()
      try {
        await this.LockUid(this.Decree!.Id)
        success = true
      } catch (err) {
        this.$HandleError(err)
      } finally {
        this.$Loaded()
      }
      if (success) {
        await this.Load()
        this.$Success('Numer został nadany')
        this.HighlightUid()
      }
    }
  }
  HighlightUid (title: string = 'Nadany numer') {
    if (this.Decree && this.Decree.Uid) {
      const uid: number = this.Decree.Uid
      this.$Alert('<h1 style="font-size: 4em;">' + this.$ZeroPad(uid, 3) + '</h1>', title, 'success', true)
    } else {
      this.$Alert('Nie nadano jeszcze numeru', 'Uwaga', 'warning')
    }
  }
}
</script>
<style lang="scss">
.decrees-preview {
  @media only screen and (max-width: 758px) {
    .decree-preview-wrapper .el-card__body {
      padding: 10px;
    }
    .decree-preview-wrapper .el-card__header {
      padding-left: 10px;
    }
    .decree-preview-wrapper .decree-preview__case, .decree-preview-wrapper .decree-preview__content {
      padding: 2px;
    }
  }

  .decree-preview-wrapper {
    min-height: 300px;
  }
  .decree-preview-tags .el-tag {
    margin-right: 16px;
  }
  .decree-preview-wrapper .el-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px 0px;
  }
  .decree-preview__files--attachments .decree-preview__file {
    padding: 5px;
  }
  .decree-preview__files--attachments .decree-preview__file:hover {
    background-color: rgba(85, 85, 170, 0.1);
  }
  .decree-preview__files--attachments i.el-icon-download {
    color: rgb(85, 85, 170) !important;
    cursor: pointer;
    font-weight: bold;
  }
  .decree-preview__files--attachments .decree-preview__file .decree-preview__file-name {
    color: #333366 !important;
  }
  .decree-preview__files--attachments .decree-preview__file:hover .decree-preview__file-name {
    color: rgb(85, 85, 170) !important;
  }
  .el-button.decree-preview__file-download {
    margin-top: -6px;
    opacity: 0.2;
    transition: opacity, 0.15s ease-in-out;
    float: right;
  }
  .el-button.decree-preview__file-download i {
    font-weight: bold;
  }
  .el-card:hover .el-button.decree-preview__file-download {
    opacity: 0.9;
  }
  .decree-preview__file-image, .decree-preview__file-name {
    cursor: pointer;
  }
  .decree-item-menu.el-menu {
    border-right-width: 0;
  }
  .decree-item-menu.el-menu--horizontal {
    margin-top: -20px;
    border-bottom-width: 0;
  }
  .decree-item-menu.el-menu--horizontal .el-menu-item {
    text-align: center;
  }

  .master-file-preview__wrapper .el-card__body {
    padding: 0 0 0 0;
  }
  .master-file-preview__wrapper .el-card__header {
    padding: 4px 4px 4px 4px;
  }
  .master-file-preview__wrapper .el-icon-close {
    float: right;
    color: rgb(85, 85, 170);
    font-weight: bold;
    cursor: pointer;
    margin: 6px;
  }
  .master-file-preview__wrapper .decree-preview__file-image {
    width: 24px;
  }

  .master-file-preview__frame {
    display: block;
    width: 100%;
    min-height: calc(100vh - 130px);
  }
  .decree-preview__file-image {
    vertical-align: middle;
    margin-right: 8px;
  }
  .decree-preview__file, .decree-preview__file:visited {
    text-decoration: none;
  }
  .decree-preview__file-name {
      color: rgb(85, 85, 170);
      font-weight: 200;
      white-space: nowrap;
  }
  .decree-preview__title {
    font-weight: 400;
    color: rgb(85, 85, 170);
  }
  .decree-preview__date {
    white-space: nowrap;
  }
  .decree-preview__uid {
    margin-left: 10px;
    font-weight: bold;
    white-space: nowrap;
  }
  .decree-preview__publisher {
    white-space: nowrap;
  }
  .decree-preview-row {
    padding-bottom: 14px;
  }

  .decree-preview__metatags .el-col {
    text-align: center;
  }

  .decree-preview__label {
    margin-bottom: 5px;
  }
  .decree-preview__inline-label {
    margin-bottom: 5px;
    margin-right: 8px;
  }
  .decree-preview__content, .decree-preview__case {
    padding: 8px 8px 8px 16px;
    white-space: pre-line;
    display: block;
    line-height: 1.6rem;
    font-style: normal;
  }

  .decree-preview-log-item__author {
    margin-top: 10px;
    color: #909399;
    font-size: 13px;
  }
  .decree-preview-logs__title {
    font-weight: 100;
    margin-top: 20px;
    color: rgb(85, 85, 170);
  }
  .decree-preview-log-item__icon {
    font-size: 20px;
    color: rgb(85, 85, 170);
    margin-bottom: 5px;
  }
  .decree-preview-log-bullets {
      list-style-type: disc;
      color: rgb(85, 85, 170);
  }
  .decree-preview-tip {
      padding: 1px 16px;
      background-color: #ddddee;
      border-radius: 4px;
      border-left: 5px solid rgb(85, 85, 170);
  }
  .decree-preview-tip__status {
    color: rgb(85, 85, 170);
    font-weight: bold;
    white-space: nowrap;
  }
}

</style>

<style>

</style>
