<template lang="pug">
  div.relationships
    pansa-breadcrumb
      el-breadcrumb-item(:to="{ name: 'decrees', params: {clear: true} }") Lista
      el-breadcrumb-item(:to="{ name: 'decrees-preview', query: {id: id} }") \#{{id}}
      el-breadcrumb-item(:to="{ name: 'decrees-relationships', query: {id: id} }") Relacje
    div(v-if='Relationships !== null')
      decree-alert(:decree='Relationships.Subject' type='view')
      el-row(:gutter='20')
        el-col.col(:xs='24' :xl='12')
          relationship-container.card--changed-by(:current='Relationships.ChangedBy' :pending='Relationships.PendingChangedBy' :target='true')
            span Zmieniające
        el-col.col(:xs='24' :xl='12')
          relationship-container.card--changed(:current='Relationships.Changed'
          :pending='Relationships.PendingChanged')
            span Zmienione
      el-row(:gutter='20')
        el-col.col(:xs='24' :xl='12')
          relationship-container.card--canceled-by(:current='Relationships.CanceledBy ? [Relationships.CanceledBy] : null'
          :pending='Relationships.PendingCanceledBy' :target='true')
            span Anulujące
        el-col.col(:xs='24' :xl='12')
          relationship-container.card--canceled(:current='Relationships.Canceled'
          :pending='Relationships.PendingCanceled')
            span Anulowane
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import DecreeAlert from '~/components/DecreeAlert.vue'
import * as decrees from '~/store/modules/Decrees'
import { namespace } from 'vuex-class'
import Common from '~/mixins/common'
import Errors from '~/mixins/errors'
import { IDecreeRelationships } from '~/model/IDecree'
import PansaBreadcrumb from '~/components/PansaBreadcrumb.vue'
import RelationshipContainer from '~/components/RelationshipContainer.vue'

const Decrees = namespace(decrees.name)
@Component({
  components: { PansaBreadcrumb, DecreeAlert, RelationshipContainer },
  validate: ({ query }): boolean => {
    const id = parseInt(query.id as string, 10)
    if (isNaN(id) || id <= 0) {
      return false
    }
    return true
  }
})
export default class extends Mixins(Common, Errors) {
  @Decrees.Action GetDecreeRelationships
  id: number = 0
  prevRoute: any = null
  Relationships: IDecreeRelationships | null = null
  async $Created () {
    this.id = parseInt(this.$route.query.id as string, 10)
    try {
      this.$Loading()
      this.Relationships = await this.GetDecreeRelationships(this.id)
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  beforeRouteEnter (_, from, next) {
    next(vm => {
      vm.prevRoute = from
    })
  }
  Cancel () {
    if (this.prevRoute && (this.prevRoute.name) && this.prevRoute.name !== this.$route.name) {
      this.$router.push(this.prevRoute.fullPath)
    } else {
      const next = {
        name: 'decrees',
        params: {}
      }
      this.$router.push(next)
    }
  }
}
</script>
<style lang="scss">
.relationships {
  .col {
    margin-bottom: 20px;
  }
  .el-card.card--canceled {
    background-color: #fff9e7;
    .el-card__header {
      color:orange;
      border-bottom-color: orange;
    }
  }
    
  .el-card.card--canceled-by {
    background-color: #ffe7ed;
    .el-card__header {
      color:indianred;
      border-bottom-color: indianred;
    }
  }
  .el-card.card--changed {
    background-color: rgb(237, 221, 238);
    .el-card__header {
      color:rgb(102, 51, 99);
      border-bottom-color: rgb(102, 51, 99);
    }
  }
  .el-card.card--changed-by {
    background-color: rgb(221, 238, 235);
    .el-card__header {
      color:green;
      border-bottom-color: green;
    }
  }
}
</style>
