<template lang="pug">
  div.browser-env
    no-ssr
      el-row(:gutter='10')
        el-col(:xs='24' :xl='18')
          el-card.env-card(v-if='!!Navigator')
            h2(slot='header') Navigator
            ul
              li(v-for='key in Object.keys(Navigator)' :key='key')
                label.label {{key}}
                span.value {{ Navigator[key] }}
        el-col(:xs='24' :sm='12' :xl='6')
          el-card.env-card(v-if='!!Screen')
            h2(slot='header') Screen
            ul
              li(v-for='key in Object.keys(Screen)' :key='key')
                label.label {{key}}
                span.value {{ Screen[key] }}
        el-col(:xs='24' :sm='12' :xl='6')
          el-card.env-card(v-if='!!Window')
            h2(slot='header') Window
            ul
              li(v-for='key in Object.keys(Window)' :key='key')
                label.label {{key}}
                span.value {{ Window[key] }}
        el-col(:xs='24' :sm='12' :xl='6')
          el-card.env-card(v-if='Usage || Quota')
            h2(slot='header') Storage
            ul
              li
                label.label Quota
                span.value {{ Quota }}
              li
                label.label Usage
                span.value {{ Usage }}
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import Common from '~/mixins/common'

const unknown = 'wartość nieznana'

class Navigator {
  appVersion: string = unknown
  cookieEnabled: boolean = false
  language: string = unknown
  onLine: boolean = false
  platform: string = unknown
  userAgent: string = unknown
  vendor: string = unknown

  constructor () {
    if (window.navigator) {
      Object.keys(this).forEach(k => {
        this[k] = window.navigator[k]
      })
    }
  }
}
class Screen {
  availHeight: number = 0
  availLeft: number = 0
  availTop: number = 0
  availWidth: number = 0
  colorDepth: number = 0
  pixelDepth: number = 0
  height: number = 0
  width: number = 0
  orientation: string = unknown

  constructor () {
    if (window.screen) {
      Object.keys(this).forEach(k => {
        if (typeof window.screen[k] === 'number') {
          this[k] = window.screen[k]
        }
        if (window.screen['orientation']) {
          this.orientation = window.screen['orientation'].type
        }
      })
    }
  }
}

class Window {
  innerWidth: number = 0
  innerHeight: number = 0
  origin: string = unknown
  outerHeight: number = 0
  outerWidth: number = 0
  constructor () {
    if (window) {
      Object.keys(this).forEach(k => {
        if (window[k]) {
          this[k] = window[k]
        }
      })
    }
  }
}

@Component
export default class extends Mixins(Common) {
  Navigator: Navigator | null = null
  Screen: Screen | null = null
  Window: Window | null = null
  Quota: number = 0
  Usage: number = 0
  async $Created () {
    this.Navigator = new Navigator()
    this.Screen = new Screen()
    this.Window = new Window()

    if (window.navigator['storage'] && window.navigator['storage'].estimate) {
      const estimated = await window.navigator['storage'].estimate()
      if (estimated) {
        this.Quota = estimated.quota || 0
        this.Usage = estimated.usage || 0
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .browser-env .label {
    min-width: 100px;
    color: #5555aa;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
  }
  .browser-env ul {
    list-style-type: none;
  }
  .browser-env li {
    padding-bottom: 10px;
  }
  .browser-env .env-card {
    margin-bottom: 10px;
  }
</style>

