<template lang="pug">
  div.clippy-assistant
    div.agent(:style='{width:Width+"px", height:Height+"px", background:BG, top: Y+"px", left: X+"px"}' v-if='!Hide' draggable="true" @dragstart='OnDragStart' @dragend='OnDragEnd' @dblclick='OnDblClick')
      div.baloon(v-if='!!Message' :style='BaloonStyle')
        span {{Message}}
</template>
<script lang="ts">
import { Component, Mixins, Watch } from 'vue-property-decorator'
import Common from '~/mixins/common'
import * as map from '~/assets/clippy-map.json'
import { IScenario, IScenarioStep } from '~/model/IScenario'
import { setTimeout, setInterval, clearTimeout } from 'timers'

interface IAnimationFrame {
  Duration: number
  X: number
  Y: number
}

interface IAnimation {
  Name: string
  Frames: IAnimationFrame[]
}

function debounce (func: () => void, wait = 50) {
  let h
  return () => {
    clearTimeout(h)
    h = setTimeout(() => func(), wait)
  }
}

@Component
export default class extends Mixins(Common) {
  Height: number = 0
  Width: number = 0
  Animations: IAnimation[] = []
  CurrentAnimation: IAnimation | null = null
  CurrentFrameIndex: number = 0
  X: number = 0
  Y: number = 0
  BG: string = ''
  Hide: boolean = true
  AnimationHandler: Object = {}
  CurrentScenario: IScenario | null = null
  CurrentScenarioStepIndex: number = 0
  Message: string | null = null
  MessageBottom: boolean = false
  IntervalsToClear: number[] = []
  CurrentStepTimeouts: number[] = []
  DebouncedValidateNextScenarioStep: () => void = () => { /*empty*/ }
  $Created () {
    window['assistant'] = this
    this.Height = map.framesize[1]
    this.Width = map.framesize[0]

    this.IntervalsToClear.push(setInterval(() => {
      this.PlayIdle()
    }, 13000) as any as number)

    this.DebouncedValidateNextScenarioStep = debounce(() => {
      this.ValidateNextScenarioStep()
    }, 200)

    this.Animations = Object.keys(map.animations).filter(_ => !!_).map(name => {
      return {
        Name: name,
        Frames: map.animations[name].frames.filter(_ => !!_.images).map(frame => {
          if (!frame.images) {
            debugger
          }
          return {
            Duration: frame.duration,
            X: frame.images[0][0],
            Y: frame.images[0][1]
          }
        }) as IAnimationFrame[]
      } as IAnimation
    })

    this.BG = `url(/clippy-map.png) 0px 0px no-repeat`
    const img = new Image()
    img.src = '/clippy-map.png'
    img.onload = () => {
      this.SetCenterPosition()
      this.PlayAnimation('Show')
      this.Hide = false
      setTimeout(() => {
        this.$nextTick(() => {
          this.$emit('shown')
        })
      }, 600)
    }
  }
  @Watch('$route', { deep: true }) OnRouteChanged (to) {
    this.Message = null
    this.MessageBottom = false
    this.SetSafePosition()
    to.params.setVariant = (variant) => {
      to.params.variant = variant
      this.OnRouteChanged(to)
    }
    this.DebouncedValidateNextScenarioStep()
  }
  @Watch('X') OnX (x: number) {
    if (x < 20) {
      this.X = 20
    } else if (x + this.Width > window.innerWidth) {
      this.X = window.innerWidth - this.Width - 20
    }
  }
  @Watch('Y') OnY (y: number) {
    if (y < 20) {
      this.Y = 20
    } else if (y + this.Height > window.innerHeight) {
      this.Y = window.innerHeight - this.Height - 20
    }
  }
  @Watch('Hide') OnHide (hide: boolean) {
    if (hide) {
      this.$emit('hide')
    }
  }
  @Watch('CurrentScenarioStepIndex') OnCurrentScenarioStepIndex () {
    this.Message = ''
    this.CurrentStepTimeouts.forEach(t => {
      clearTimeout(t as any)
    })
    this.CurrentStepTimeouts = []
    Array.from(document.querySelectorAll('[highlighted-by-clippy]')).forEach(el => {
      debugger
      el.removeAttribute('highlighted-by-clippy')
    })
  }
  get BaloonStyle () {
    const s: any = {}
    if (this.MessageBottom === false) {
      s.bottom = this.Height + 'px'
    } else {
      s.top = this.Height + 'px'
    }
    if (this.X < 50) {
      s.marginLeft = '-18px'
    }
    if (this.X + this.Width + 50 + 5 > window.innerWidth) {
      s.marginRight = '0'
    }
    return s
  }
  OnDblClick () {
    this.OnCurrentScenarioStepIndex()
    if (this.CurrentScenario) {
      this.PlayCurrentScenarioStep()
    } else {
      this.PlayIdle()
    }
  }
  ValidateNextScenarioStep () {
    if (this.CurrentScenario) {
      const nextStep = this.CurrentScenario.Steps[this.CurrentScenarioStepIndex + 1]
      if (nextStep) {
        if (this.ValidateScenarioStepConstraint(nextStep)) {
          this.CurrentScenarioStepIndex = this.CurrentScenarioStepIndex + 1
          this.$nextTick(() => {
            this.PlayCurrentScenarioStep()
          })
        }
      } else {
        this.OnScenarioFinished()
      }
    }
  }
  Say (msg: string) {
    this.Message = msg
  }
  ValidateScenarioStepConstraint (step: IScenarioStep): boolean {
    let result = true
    if (!step.Constraint) {
      return result
    }
    if (step.Constraint.RouteName) {
      if (this.$router.currentRoute.name !== step.Constraint.RouteName) {
        result = false
      }
    }
    if (step.Constraint.RouteVariant) {
      if (this.$router.currentRoute.params.variant !== step.Constraint.RouteVariant) {
        result = false
      }
    }
    return result
  }
  OnScenarioFinished () {
    this.PlayAnimation('Congratulate')
  }
  PlayScenario (scenario: IScenario) {
    this.CurrentScenario = scenario
    this.CurrentScenarioStepIndex = 0
    for (let i = scenario.Steps.length - 1; i >= 0; i++) {
      const step = scenario.Steps[i]
      if (this.ValidateScenarioStepConstraint(step)) {
        this.CurrentScenarioStepIndex = i
      } else {
        break
      }
    }
    this.$nextTick(() => {
      this.PlayCurrentScenarioStep()
    })
  }
  PlayCurrentScenarioStep () {
    if (this.CurrentScenario) {
      const step = this.CurrentScenario.Steps[this.CurrentScenarioStepIndex]
      if (step) {
        this.PlayScenarioStep(step)
      }
    }
  }
  SetStepTimeout (fn: () => void, delay: number) {
    this.CurrentStepTimeouts.push(setTimeout(fn, delay) as any as number)
  }
  PlayScenarioStep (step: IScenarioStep) {
    let timeout = 500

    if (step.Center && !step.Point) {
      this.SetCenterPosition()
    }
    if (step.Action === 'success') {
      timeout += 300
      this.SetStepTimeout(() => {
        this.PlayAnimation('Congratulate')
      }, 300)
    }

    if (step.Point) {
      timeout += 700
      // tslint:disable-next-line
      this.PointAt(step.Point)
    }
    if (step.Text) {
      timeout += 300
      const msg = step.Text
      this.SetStepTimeout(() => {
        this.Say(msg)
      }, timeout)
    }

    if (step.Dock && step.Dock > 0) {
      timeout += step.Dock * 1000
      this.SetStepTimeout(() => {
        this.SetSafePosition()
      }, 500 + timeout)
    }

    if (step.Action === 'success') {
      this.SetStepTimeout(() => {
        this.PlayAnimation('GoodBye')
        this.$Success('Ukończono scenariusz' + (this.CurrentScenario!.Description ? (' \n' + this.CurrentScenario!.Description) : ''))
      }, 2500 + timeout)
      this.SetStepTimeout(() => {
        this.Hide = true
      }, 6550 + timeout)
    }

  }

  OnDragStart (e) {
    e.target.style.opacity = 0.2
  }
  OnDragEnd (e) {
    this.X = e.clientX - (this.Width / 2)
    this.Y = e.clientY - (this.Height / 2)
    e.target.style.opacity = null
  }
  SetDefaultPosition () {
    this.X = 50 // window.innerWidth - this.Width - 50
    this.Y = window.innerHeight - this.Height - 50
  }
  SetSafePosition () {
    this.X = 20
    this.Y = document.querySelector('.el-aside .el-menu')!.getBoundingClientRect().bottom + 20
  }
  SetCenterPosition () {
    this.X = (window.innerWidth - this.Width) / 2
    this.Y = (window.innerHeight - this.Height) / 2
  }
  PlayIdle () {
    const idle = ['IdleFingerTap', 'Explain', 'IdleSideToSide', 'IdleHeadScratch', 'IdleSnooze']
    if (!this.CurrentAnimation) {
      this.PlayAnimation(idle[this.GetRandomInt(0, idle.length - 1)])
    }
  }
  GetAnimations (): string[] {
    return this.Animations.map(a => a.Name)
  }
  PlayFrame (handler: Object) {
    const frame = this.CurrentAnimation!.Frames[this.CurrentFrameIndex]
    this.BG = `url(/clippy-map.png) -${frame.X}px -${frame.Y}px no-repeat`
    if (this.CurrentFrameIndex < (this.CurrentAnimation!.Frames.length - 1)) {
      setTimeout(() => {
        if (this.AnimationHandler === handler) {
          this.CurrentFrameIndex = this.CurrentFrameIndex + 1
          this.PlayFrame(handler)
        }
      }, frame.Duration)
    } else {
      this.CurrentAnimation = null
      this.CurrentFrameIndex = 0
    }
  }
  GestureAt (x: number, y: number) {
    const deltaX = (this.X + this.Width / 2) - x
    const deltaY = (this.Y + this.Height / 2) - y

    const left = deltaX < 0
    const up = deltaY > 0

    this.MessageBottom = up

    let animation = `Gesture${up ? 'Up' : 'Down'}${left ? 'Left' : 'Right'}`
    const absX = Math.abs(deltaX)
    const absY = Math.abs(deltaY)
    if (absX > absY) {
      const shouldReduceY = true
      if (shouldReduceY) {
        animation = animation.replace('Up', '').replace('Down', '')
      }
    } else if (absY > absX) {
      const shouldReduceX = true
      if (shouldReduceX) {
        animation = animation.replace('Left', '').replace('Right', '')
      }
    }
    this.PlayAnimation(animation)
  }
  async PointAt (pointme: string) {
    const el = document.querySelector(`[point-me=${pointme}]`)
    if (el) {
      el.setAttribute('highlighted-by-clippy', '')
      const beforeScroll = (new Date()).getTime()
      this.LookAtElement(el as HTMLElement)
      await this.ScrollToElement(el as HTMLElement)
      let scrollLat = (new Date()).getTime() - beforeScroll
      if (scrollLat >= 700) {
        scrollLat = 700 - 1
      }
      const vertical = el.clientHeight / el.clientWidth >= 1
      const rect = el.getBoundingClientRect()
      const centX = rect.left + (rect.width / 2)
      const centY = rect.top + (rect.height / 2)
      // this.LookAt(centX, centY)
      this.SetStepTimeout(() => {
        if (vertical) {
          const leftSide = centX > (window.innerWidth / 2)
          this.Y = centY - (this.Height / 2)
          if (leftSide) {
            this.X = rect.left - this.Width
          } else {
            this.X = rect.left + rect.width + 5
          }
        } else {
          const topSide = centY > (window.innerHeight / 2)
          this.X = centX - (this.Width / 2)
          if (topSide) {
            this.Y = rect.top - this.Height - 5
          } else {
            this.Y = rect.top + rect.height
          }
        }
      }, 700 - scrollLat)
      this.SetStepTimeout(() => {
        this.GestureAt(centX, centY)
      }, 1200 - scrollLat)
    }
  }
  async ScrollToElement (el: HTMLElement): Promise<void> {
    const self = this
    const d = 10
    const step = 10
    const dur = 3
    const rect = el.getBoundingClientRect()
    const up = rect.top < d
    if (up) {
      window.scrollBy(0, 0 - step)
      return new Promise<void>((resolve) => {
        setTimeout(async () => {
          await self.ScrollToElement(el)
          resolve()
        }, dur)
      })
    } else {
      return
    }
  }
  LookAtElement (el: HTMLElement) {
    const rect = el.getBoundingClientRect()
    const centX = rect.left + (rect.width / 2)
    const centY = rect.top + (rect.height / 2)
    this.LookAt(centX, centY)
  }
  LookAt (x: number, y: number) {
    const deltaX = (this.X + this.Width / 2) - x
    const deltaY = (this.Y + this.Height / 2) - y

    const left = deltaX < 0
    const up = deltaY > 0

    let animation = `Look${up ? 'Up' : 'Down'}${left ? 'Left' : 'Right'}`
    const absX = Math.abs(deltaX)
    const absY = Math.abs(deltaY)
    const con = 150
    if (absX > absY) {
      const shouldReduceY = absY < con || absX / absY > 2.0
      if (shouldReduceY) {
        animation = animation.replace('Up', '').replace('Down', '')
      }
    } else if (absY > absX) {
      const shouldReduceX = absX < con || absY / absX > 2.0
      if (shouldReduceX) {
        animation = animation.replace('Left', '').replace('Right', '')
      }
    }
    this.PlayAnimation(animation)
  }
  LookAtCursor () {
    // ToDo
  }
  PlayAnimation (name: string) {
    const animation = this.Animations.find(x => x.Name === name)
    if (animation && this.CurrentAnimation !== animation) {
      const h = {}
      this.AnimationHandler = h
      this.CurrentAnimation = animation
      this.CurrentFrameIndex = 0
      this.PlayFrame(h)
    }
  }
}
</script>
<style lang="scss">
.clippy-assistant {
  .agent {
    display: block;
    opacity: 0.8;
    position: fixed;
    z-index: 1000;
    cursor: pointer;
    transition-property: top, left;
    transition-duration: 0.6s;

    .baloon {
      position: absolute;
      background-color: rgb(85, 85, 170);
      color: white;
      padding: 4px;
      margin-left: -50px;
      margin-right: -50px;
      text-align: center;
      white-space: pre-line;
    }
  }
  .agent:hover {
    opacity: 1;
  }
}

[highlighted-by-clippy] {
  border: 2px dashed #16bd16 !important;
}
</style>

