<template lang="pug">
  div.decree-form
    slot
    iw-form-fragment(v-if='Dict !== null')
      el-row(:gutter='10')
        el-col(:xs='24' :xl='12')
          el-row
            el-col(:span='24')
              iw-form-item(label='Kto wydał' :error='GetError("PublisherId")')
                el-select(v-model='Publisher' value-key='Id' :disabled='DraftControlsDisabled' placeholder='Wybierz z listy')
                  el-option(v-for='item in Dict.Publishers'
                  :key='item.Id'
                  :label='item.Name'
                  :value='item'
                  :disabled='item.Archived'
                  )
        el-col(:xs='24' :xl='12')
          el-row(:gutter='10')
            el-col(:xs='24' :sm='16' :md='16' :xl='14')
              iw-form-item(label='Rodzaj' :error='GetError("TypeId")')
                el-select(v-model='DecreeType' value-key='Id' :disabled='DraftControlsDisabled' placeholder='Wybierz z listy')
                  el-option(v-for='item in Dict.DecreeTypes'
                  :key='item.Id'
                  :label='item.Name'
                  :value='item'
                  :disabled='item.Archived'
                  )
            el-col(:xs='24' :sm='8' :md='8' :xl='10')
              iw-form-item(label='Z dnia' :error='GetError("Date")')
                el-date-picker(v-model='DecreeDate' type='date' :disabled='DraftControlsDisabled' placeholder='Wybierz dzień')
      el-row(:gutter='10')
        el-col(:xs='24' :xl='12')
          iw-form-item(label='W sprawie' :error='GetError("Case")' :hint='CancelCaseHint')
            el-input(type='textarea' :autosize='{ minRows: 2, maxRows: 10}' v-model='Case')
        el-col(:xs='24' :xl='12')
          iw-form-item(label='Treść' :error='GetError("Content")' optional='(opcjonalne)')
            el-input(type='textarea' :autosize='{ minRows: 2, maxRows: 10}' v-model='Content')
      el-row(:gutter='10')
        el-col(:xs='24')
          iw-form-item
            div
              el-checkbox(v-model='Teams') Zespoły
              el-checkbox(v-model='Projects') Projekty
              el-checkbox(v-model='PublicProcurement') Zamówienia publiczne
      el-row(:gutter='10')
        el-col(:xs='24')
          iw-form-item.tags(label='Kategorie' optional='(opcjonalne)')
            el-tag(v-for='tag in Tags'
            :key='tag.Id'
            closable
            :disable-transitions='true'
            @close='removeTag(tag)'
            ) {{tag.Name}}
            el-select(@change='onTagChange' value-key='Id' v-model='SelectedTag' v-if='TagSelectVisible' ref='TagsSelect' size='small')
              el-option(v-for='item in Dict.DecreeTags' :key='item.Id' :label='item.Name' :value='item' :disabled='item.Archived')
            el-button(v-else @click='showTagSelect' size='small' ref='TagsButton') Dodaj kategorię
      el-row(:gutter='10')
        el-col(:xs='24')
          el-button.xxs-margin(@click='Submit' type='primary' point-me='submit-decree') {{submitText}}
          el-button.xxs-margin(v-for='action in actions' :key='action.Key' @click='OnAction(action)' type='primary') {{action.Text}}
          el-button.xxs-margin(@click='Cancel') Anuluj
</template>
<script lang="ts">
import { Component, Mixins, Prop, Watch } from 'vue-property-decorator'
import IwFormFragment from '~/components/IwFormFragment.vue'
import IwFormItem from '~/components/IwFormItem.vue'
import { IDecreeType, IPublisher, IDecreeTag, IDictBag } from 'model/IDictionaryItem'
import { namespace } from 'vuex-class'

import * as dictionaries from '~/store/modules/Dictionaries'
import * as decrees from '~/store/modules/Decrees'
import { IDecree } from 'model/IDecree'
import { IValidateDecree, IDecreeValidationError, IValidateField } from '~/model/IDecreeValidationResult'
import Common from '~/mixins/common'
import { IAction } from '~/model/IAction'

const Dictionaries = namespace(dictionaries.name)
const Decrees = namespace(decrees.name)

@Component({
  components: { IwFormFragment, IwFormItem }
})
export default class DecreeForm extends Mixins(Common) {
  @Prop({
    type: Number,
    default: null
  }) decreeId!: number
  @Prop({
    type: Boolean,
    default: false
  }) loading!: boolean
  @Prop({
    type: Function,
    required: true
  }) validate!: IValidateDecree
  @Prop({
    type: Function,
    required: false
  }) validateField!: IValidateField
  @Prop({
    type: String,
    default: 'Zapisz'
  }) submitText!: string
  @Prop({
    type: Array,
    default: () => []
  }) actions!: Array<IAction>
  @Prop({
    type: String,
    default: ''
  }) defaultCase!: string
  @Prop({
    type: String,
    default: ''
  }) mode!: string

  @Dictionaries.Action GetDictionaries
  @Decrees.Action GetDecreeById

  Case: string = ''
  Content: string = ''
  DecreeType: IDecreeType | null = null
  Publisher: IPublisher | null = null
  DecreeDate: Date | null = null
  Projects: Boolean = false
  Teams: Boolean = false
  PublicProcurement: Boolean = false
  Tags: Array<IDecreeTag> = []
  TagSelectVisible: Boolean = false
  SelectedTag: IDecreeTag | null = null
  Dict: IDictBag | null = null
  ValidationTriggered: boolean = false
  Origin: IDecree | null = null
  Errors: Array<IDecreeValidationError> = []
  CancelCaseHint: string = ''

  GetError (prop: string): string | null {
    const e = this.Errors.find(_ => _.Prop === prop)
    return e ? e.Message : null
  }
  get DraftControlsDisabled (): boolean {
    return !!(this.Origin && this.Origin.StatusId !== 1)
  }

  @Watch('Origin') onOrigin (origin: IDecree) {
    if (origin) {
      this.Case = origin.Case
      this.Content = origin.Content
      this.Publisher = this.Dict!.Publishers.find(_ => _.Id === origin.PublisherId) || null
      this.DecreeType = this.Dict!.DecreeTypes.find(_ => _.Id === origin.TypeId) || null
      this.DecreeDate = origin.Date
      this.Projects = origin.Projects
      this.Teams = origin.Teams
      this.PublicProcurement = origin.PublicProcurement
      this.Tags = this.Dict!.DecreeTags.slice().filter(_ => origin.TagIds.indexOf(_.Id) >= 0)

      this.$emit('origin_loaded', origin)
    }
  }
  @Watch('DecreeType') onDecreeType (type: IDecreeType | null) {
    if (this.ValidationTriggered && this.validateField) {
      const r = this.validateField('TypeId', type ? type.Id : null)
      this.Errors = this.Errors.filter(e => e.Prop !== 'TypeId')
      if (r) {
        this.Errors.push(r)
      }
    }
  }
  @Watch('Publisher') onPublisher (publisher: IPublisher | null) {
    if (this.ValidationTriggered && this.validateField) {
      const r = this.validateField('PublisherId', publisher ? publisher.Id : null)
      this.Errors = this.Errors.filter(e => e.Prop !== 'PublisherId')
      if (r) {
        this.Errors.push(r)
      }
    }
  }
  @Watch('DecreeDate') onDecreeDate (date: Date | null) {
    if (this.ValidationTriggered && this.validateField) {
      const r = this.validateField('Date', date)
      this.Errors = this.Errors.filter(e => e.Prop !== 'Date')
      if (r) {
        this.Errors.push(r)
      }
    }
  }
  @Watch('Case') onCase (_case: string | null) {
    if (this.ValidationTriggered && this.validateField) {
      const r = this.validateField('Case', _case)
      this.Errors = this.Errors.filter(e => e.Prop !== 'Case')
      if (r) {
        this.Errors.push(r)
      }
    }
  }
  @Watch('defaultCase') onDefaultCase (_case: string | null) {
    if (this.mode === 'cancel' || this.mode === 'modify' || this.mode === 'cancel-modify') {
      this.Case = this.defaultCase
    }
  }
  @Watch('Content') onContent (content: string | null) {
    if (this.ValidationTriggered && this.validateField) {
      const r = this.validateField('Content', content)
      this.Errors = this.Errors.filter(e => e.Prop !== 'Content')
      if (r) {
        this.Errors.push(r)
      }
    }
  }
  Cancel () {
    this.$emit('cancel')
  }
  async $Created () {
    this.$Loading()

    if (this.mode === 'cancel' || this.mode === 'modify' || this.mode === 'cancel-modify') {
      this.Case = this.defaultCase
      this.CancelCaseHint = 'To pole zostało wstępnie wypełnione, możesz je modyfikować'
    }

    this.Dict = await this.GetDictionaries()
    if (this.decreeId) {
      try {
        this.Origin = await this.GetDecreeById(this.decreeId)
      } catch (e) {
        this.$emit('load:error', e)
      }
    }
    this.$Loaded()
  }

  async Reload () {
    try {
      this.Origin = await this.GetDecreeById(this.decreeId)
    } catch (e) {
      this.$emit('load:error', e)
    }
  }

  async OnAction (act: IAction) {
    this.ValidationTriggered = true
    this.Errors = []
    const model: IDecree = {
      CanceledIds: [],
      ChangedIds: [],
      TypeId: this.DecreeType ? this.DecreeType.Id : null,
      PublisherId: this.Publisher ? this.Publisher.Id : null,
      Date: this.DecreeDate,
      Projects: this.Projects,
      Teams: this.Teams,
      PublicProcurement: this.PublicProcurement,
      TagIds: this.Tags.map(_ => { return _.Id }),
      Case: this.Case,
      Content: this.Content,
      // origin values
      Uid: this.Origin ? this.Origin.Uid : null,
      Id: this.Origin ? this.Origin.Id : null,
      Version: this.Origin ? this.Origin.Version : null,
      Created: this.Origin ? this.Origin.Created : null,
      Modified: this.Origin ? this.Origin.Modified : null,
      AuthorId: this.Origin ? this.Origin.AuthorId : null,
      ModifiedById: this.Origin ? this.Origin.ModifiedById : null,
      StatusId: this.Origin ? this.Origin.StatusId : null
    }
    const result = await this.validate(model)
    if (result.IsValid) {
      this.$emit('submit:' + act.Key, model)
    } else {
      this.Errors = result.Errors || []
      this.$Error('Znaleziono błędy na formularzu')
    }
  }
  async Submit () {
    this.ValidationTriggered = true
    this.Errors = []
    const model: IDecree = {
      TypeId: this.DecreeType ? this.DecreeType.Id : null,
      PublisherId: this.Publisher ? this.Publisher.Id : null,
      Date: this.DecreeDate,
      Projects: this.Projects,
      Teams: this.Teams,
      PublicProcurement: this.PublicProcurement,
      TagIds: this.Tags.map(_ => { return _.Id }),
      Case: this.Case,
      Content: this.Content,
      CanceledIds: [],
      ChangedIds: [],
      // origin values
      Uid: this.Origin ? this.Origin.Uid : null,
      Id: this.Origin ? this.Origin.Id : null,
      Version: this.Origin ? this.Origin.Version : null,
      Created: this.Origin ? this.Origin.Created : null,
      Modified: this.Origin ? this.Origin.Modified : null,
      AuthorId: this.Origin ? this.Origin.AuthorId : null,
      ModifiedById: this.Origin ? this.Origin.ModifiedById : null,
      StatusId: this.Origin ? this.Origin.StatusId : null
    }
    const result = await this.validate(model)
    if (result.IsValid) {
      this.$emit('submit', model)
    } else {
      this.Errors = result.Errors || []
      this.$Error('Znaleziono błędy na formularzu')
    }
  }

  removeTag (tag: IDecreeTag) {
    this.Tags.splice(this.Tags.indexOf(tag), 1)
  }
  onTagChange (tag: IDecreeTag) {
    if (tag) {
      if (this.Tags.indexOf(tag) === -1) {
        this.Tags.push(tag)
        this.$nextTick(() => {
          this.$refs.TagsButton['$el']['focus']() // hack :P
        })
      }
      this.TagSelectVisible = false
      this.SelectedTag = null
    }
  }
  showTagSelect () {
    this.TagSelectVisible = true
    this.$nextTick(() => {
      this.$refs.TagsSelect['$el']['click']() // hack :P
    })
  }
}
</script>
<style>
.tags .el-tag {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 0;
}

.tags .el-select {
  width: initial;
}
.decree-form {
  max-width: 1000px;
}
.decree-form .el-input.is-disabled .el-input__inner {
  color: #606266;
}
.cancel-form-info {
    margin-top: -5px;
    padding: 1px 16px;
    background-color: #ddddee;
    border-radius: 4px;
    border-left: 5px solid rgb(85, 85, 170);
    margin-bottom: 5px;
}
.cancel-form-info__uid {
  color: rgb(85, 85, 170);
  font-weight: bold;
  white-space: nowrap;
}
</style>

