<template lang="pug">
  iw-form-fragment
      el-row(:gutter='10')
        el-col(:xs='24')
          iw-form-item(label='Nazwa' :error='GetError("Name")')
            el-input(v-model='Name')
        el-col(:span='24')
          iw-form-item(:error='GetError("Archived")')
            el-checkbox(v-model='Archived') Archiwalny
        el-col(:span='24')
          el-button(type='primary' @click='Submit()') Zapisz
          el-button(@click='Cancel()') Anuluj
</template>
<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import IwFormFragment from '~/components/IwFormFragment.vue'
import IwFormItem from '~/components/IwFormItem.vue'
import { IDecreeTag } from 'model/IDictionaryItem'

import { IDecreeValidationError, IDecreeValidationResult } from '~/model/IDecreeValidationResult'
import Common from '~/mixins/common'

@Component({
  components: { IwFormFragment, IwFormItem }
})
export default class DecreeTagForm extends Mixins(Common) {
  Name: string = ''
  Archived: boolean = false
  Errors: Array<IDecreeValidationError> = []
  @Prop({
    type: Object,
    default: null
  }) decreeTag?: IDecreeTag | null

  GetError (prop: string): string | null {
    const e = this.Errors.find(_ => _.Prop === prop)
    return e ? e.Message : null
  }

  $Created () {
    if (this.decreeTag) {
      this.Name = this.decreeTag.Name
      this.Archived = this.decreeTag.Archived
    }
  }
  async Validate (decreeTag: IDecreeTag): Promise<IDecreeValidationResult> {
    const result: IDecreeValidationResult = {
      IsValid: true,
      Source: 'controller',
      Message: 'OK'
    }

    const errors = ['Name'].map(prop => {
      return this.ValidateField(prop, decreeTag[prop])
    }).filter(error => error !== null) as Array<IDecreeValidationError>

    if (errors.length > 0) {
      result.IsValid = false
      result.Errors = errors
      result.Message = 'failed'
    }
    return result
  }
  ValidateField (prop: string, value: any): IDecreeValidationError | null {
    if (prop === 'Name') {
      if (!value || (!value.trim())) {
        return {
          Prop: 'Name',
          Message: 'Pole wymagane, wprowadź tekst (maksymalnie 150 znaków)'
        }
      } else if (value.length > 150) {
        return {
          Prop: 'Name',
          Message: 'Przekroczono maksymalną długość 150 znaków o ' + (value.length - 150) + ' znaków'
        }
      }
    }

    return null
  }
  async Submit () {

    const res = await this.Validate({
      Id: -1,
      Name: this.Name,
      Archived: this.Archived
    })

    if (res.IsValid) {
      if (this.decreeTag) {
        this.$emit('update', {
          Id: this.decreeTag.Id,
          Name: this.Name.trim(),
          Archived: this.Archived
        })
      } else {
        this.$emit('create', {
          Name: this.Name.trim(),
          Archived: this.Archived
        })
      }
    } else {
      this.Errors = res.Errors || []
      this.$Error('Znaleziono błędy na formularzu')
    }
  }
  Cancel () {
    this.$emit('cancel')
  }
}
</script>

