<template lang="pug">
  div
    el-table(v-if='!!decreeTypes' :data='decreeTypes' row-key='Id' stripe size='mini')
      el-table-column(prop='Id' label='Id' :sortable='true' width='90px')
      el-table-column(prop='Name' label='Nazwa' :sortable='true' min-width='140px')
      el-table-column(prop='Preview' label='Nazwa wyświetlana' :sortable='true' min-width='200px')
      el-table-column(prop='FileName' label='Nazwa pliku' :sortable='true' min-width='120px')
      el-table-column(prop='Archived' label='Archiwalny?' :sortable='true' width='130px')
        template(slot-scope='scope')
          span {{ scope.row.Archived ? 'Tak' : 'Nie' }}
      el-table-column(fixed='right' width='60px')
        template(slot-scope='scope')
          el-button(size='mini' icon='el-icon-edit' @click='OnEdit(scope.row)')
</template>
<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import { IDecreeType } from '~/model/IDictionaryItem'
import Common from '~/mixins/common'
@Component
export default class DecreeTypesTable extends Mixins(Common) {
  @Prop() decreeTypes?: IDecreeType[] | null

  OnEdit (type: IDecreeType) {
    this.$emit('edit', type)
  }
}
</script>
