<template lang="pug">
  div
    iframe(ref='sandbox' :src='src' style='width:0; height:0; visibility: hidden')
    div(v-if='AsyncSupported')
      div
        el-button-group
          el-button(@click='Run()' icon='el-icon-check' type='primary')
          el-button(@click='Clear()' icon='el-icon-close' type='primary')
          el-button(@click='HistoryUp()' icon='el-icon-arrow-up' type='primary')
          el-button(@click='HistoryDown()' icon='el-icon-arrow-down' type='primary')
          el-button(@click='ToggleCorrect()' :type='CorrectHidden ? "" : "primary"') 👌
          el-button(@click='ToggleTS()' :type='TS ? "primary" : null') 💪 TS
      div(ref='console' :class="{'hide-correct':CorrectHidden}").cmd-console
      el-input.cmd-input(type='textarea' :rows='1'
      v-model='command'
      @keydown.enter.native="OnEnter"
      @keydown.arrow-up.native="OnArrow"
      autosize
      ref='input'
      :disabled='Disabled')
    el-card(v-else)
      p Wygląda na to, że ten przestarzały kawałek oprogramowania, który miłosiernie nazywasz przeglądarką nie spełnia naszych wyśrubowanych wymagań 😢
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import Common from '~/mixins/common'
import { setTimeout } from 'timers'
import * as dictionaries from '~/store/modules/Dictionaries'
import * as decrees from '~/store/modules/Decrees'
import { namespace } from 'vuex-class'
import { BigInfowave } from '~/assets/ascii'

const Dictionaries = namespace(dictionaries.name)
const Decrees = namespace(decrees.name)

const AsciiTable = require('ascii-table')
@Component
export default class extends Mixins(Common) {
  command: string = ''
  history: string[] = []
  historyIndex: number = -1
  CorrectHidden: boolean = false
  src: string = '/__cmd.html?t=' + (new Date()).getTime()
  TS: boolean = true
  transpile: any = null
  Disabled: boolean = true
  AsyncSupported: boolean = true

  @Dictionaries.Action GetDictionaries

  @Dictionaries.Action CreatePublisher
  @Dictionaries.Action UpdatePublisher

  @Dictionaries.Action CreateDecreeTag
  @Dictionaries.Action UpdateDecreeTag

  @Dictionaries.Action CreateDecreeType
  @Dictionaries.Action UpdateDecreeType

  @Decrees.Action GetDecreeById

  async GetPublishers () {
    const b = await this.GetDictionaries()
    return b.Publishers
  }
  async GetDecreeTypes () {
    const b = await this.GetDictionaries()
    return b.DecreeTypes
  }
  async GetDecreeTags () {
    const b = await this.GetDictionaries()
    return b.DecreeTags
  }
  $Created () {
    let asyncSupported = false
    try {
      asyncSupported = window['__async']
    } catch {
      asyncSupported = false
    }
    this.AsyncSupported = asyncSupported
  }
  $Mounted () {
    if (this.AsyncSupported) {
      window.addEventListener('message', this.OnMessage, false)
      setTimeout(() => {
        this.Print(BigInfowave)
      }, 500)
      setTimeout(() => {
        this.EmitRpc()
        this.Disabled = false
      }, 1000)
    }
  }
  ToggleTS () {
    this.TS = !this.TS
  }
  OnArrow (ev) {
    if (ev.target.selectionStart === 0) {
      const ta = ev.target
      if (this.historyIndex === 0) {
        this.historyIndex = this.history.length
      }
      this.HistoryUp()
      ev.preventDefault()
      setTimeout(() => {
        ta.selectionStart = 0
      }, 10)
      return false
    }
  }

  ToggleCorrect () {
    this.CorrectHidden = !this.CorrectHidden
    setTimeout(() => {
      const cns: HTMLDivElement = this.$refs.console as HTMLDivElement
      cns.scrollTo(0, cns.scrollHeight)
    }, 10)
  }
  HistoryUp () {
    if (this.historyIndex === -1) {
      this.historyIndex = this.history.length
    }
    this.historyIndex = this.historyIndex - 1
    if (this.historyIndex >= 0) {
      this.command = this.history[this.historyIndex]
    } else {
      this.historyIndex = 0
      this.command = this.history[this.historyIndex]
    }
  }
  HistoryDown () {
    if (this.historyIndex === -1) {
      this.historyIndex = -1
    }
    this.historyIndex = this.historyIndex + 1
    if (this.historyIndex < this.history.length) {
      this.command = this.history[this.historyIndex]
    } else {
      this.historyIndex = this.history.length - 1
      this.command = this.history[this.historyIndex]
    }
  }
  Print (str: string, className: string = '') {
    const section: HTMLDivElement = document.createElement('div')
    section.className = className
    section.textContent = str

    const cns: HTMLDivElement = this.$refs.console as HTMLDivElement
    cns.appendChild(section)
    cns.scrollTo(0, cns.scrollHeight)
  }
  PrintTable (arr: Array<any>) {
    const headers: string[] = []
    arr.forEach(_ => {
      const keys = Object.keys(_)
      keys.forEach(k => {
        if (headers.indexOf(k) === -1) {
          headers.push(k)
        }
      })
    })
    const table = new AsciiTable()
    arr.forEach(_ => {
      const row = headers.map(h => {
        if (typeof _[h] !== 'undefined') {
          return _[h]
        } else {
          return '💩'
        }
      })
      table.addRow(...row)
    })
    table.setHeading(...headers)
    const str = table.toString()
    const lines = str.split('\n')
    lines.splice(0, 1)
    lines.splice(lines.length - 1, 1)
    this.Print(lines.join('\n'))
  }
  Clear () {
    const cns: HTMLDivElement = this.$refs.console as HTMLDivElement
    cns.innerHTML = ''
  }
  Sandbox (): Window {
    const sandbox: HTMLIFrameElement = (this.$refs.sandbox as HTMLIFrameElement)
    return sandbox.contentWindow as Window
  }
  PostMessage (transfer: any) {
    transfer = typeof transfer === 'string' ? transfer : JSON.stringify(transfer)
    this.Sandbox().postMessage(transfer, window['origin'])
  }
  PostCommand (command: string, data: any) {
    this.PostMessage({ command, data })
  }
  EmitRpc () {
    this.PostCommand('rpc-def', ['Clear', 'GetDecreeById', 'CreatePublisher', 'UpdatePublisher', 'CreateDecreeTag', 'UpdateDecreeTag', 'CreateDecreeType', 'UpdateDecreeType', 'GetDecreeTypes', 'GetDecreeTags', 'GetPublishers'])
  }
  async OnMessage (ev) {
    const d = typeof ev.data === 'object' ? ev.data : JSON.parse(ev.data)
    if (d.command === 'printLn') {
      this.Print(d.data)
    } else if (d.command === 'printTable') {
      this.PrintTable(d.data)
    } else if (d.command === 'invalid') {
      this.Print(d.data, 'invalid')
    } else if (d.command === 'invalid-ts') {
      this.Print(d.data, 'invalid --ts')
    } else if (d.command === 'error') {
      this.Print(d.data, 'error')
    } else if (d.command === 'correct') {
      this.Print(d.data, 'correct')
    } else if (d.command === 'correct-ts') {
      this.Print(d.data, 'correct --ts')
    } else if (d.command === 'rpc') {
      const proc = d.data.proc
      const uid = d.data.uid
      const arg = d.data.arg
      this.$Loading('wykonuję: ' + proc + '...')
      try {
        const result = await this[proc](arg)
        this.PostCommand('rpc-response', { result, uid })
      } catch (err) {
        this.PostCommand('rpc-error', { error: { message: err.message }, uid })
      } finally {
        this.$Loaded()
      }
    }
  }
  async OnEnter (ev) {
    const i = this.$refs.input as any
    if (!ev.shiftKey && i.textareaStyle.height === i.textareaStyle.minHeight) {
      ev.preventDefault()
      await this.Run()
      return false
    }
    if (!ev.shiftKey && ev.ctrlKey) {
      ev.preventDefault()
      await this.Run()
      return false
    }
  }
  async Run () {
    if (this.command && this.command.trim()) {
      let command = this.command
      this.history.push(command)
      if (this.TS) {
        if (!this.transpile) {
          this.$Loading('ładuję kompilator...')
          const ts = await import('~/assets/transpile')
          this.transpile = ts.transpile
          this.$Loaded()
        }
        command = this.transpile(command).trim()
      }
      this.command = ''
      this.PostCommand(this.TS ? 'run-ts' : 'run', command)
    }
  }
}
</script>
<style lang="scss">
.cmd-console {
  background-color: #333366;
  color: orange;
  height: calc(100vh - 300px);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Courier, "Lucida Console", monospace;
  white-space: pre;
  overflow-y: scroll;
}
.cmd-console .invalid {
  color: orangered;
  border: 1px dotted;
  padding: 10px;
  margin: 10px 10px 20px -4px;
  position: relative;
}
.cmd-console .invalid:before {
    content: ' 😕 invalid input ';
    position: absolute;
    top: -14px;
    left: 5px;
    background-color: #333366;
}
.cmd-console .invalid.--ts:before {
  content: ' 😕 invalid input (transpiled) ';
}

.cmd-console .error {
  color: rgb(255,0,40);
  border: 1px dotted;
  padding: 10px;
  margin: 10px 10px 20px -4px;
  position: relative;
}
.cmd-console .error:before {
    content: ' 😭 exception ';
    position: absolute;
    top: -14px;
    left: 5px;
    background-color: #333366;
}
.cmd-console.hide-correct .correct {
  display: none;
}
.cmd-console .correct {
  color: lightgreen;
  border: 1px dotted;
  padding: 10px;
  margin: 10px 10px 20px -4px;
  position: relative;
}
.cmd-console .correct:before {
    content: ' 👌 input ';
    position: absolute;
    top: -14px;
    left: 5px;
    background-color: #333366;
}
.cmd-console .correct.--ts:before {
  content: ' 👌 input (transpiled) ';
}
.cmd-input .el-textarea__inner {
  border-top-color: orange !important;
  border-bottom-color: #333366 !important;
  border-left-color: #333366 !important;
  border-right-color: #333366 !important;
  background-color: #333366 !important;
  color: orange !important;
  font-family: Courier, "Lucida Console", monospace;
}
</style>

