<template lang="pug">
  iw-form-fragment
      el-row(:gutter='10')
        el-col(:xs='24' :md='12')
          iw-form-item(label='Nazwa' :error='GetError("Name")')
            el-input(v-model='Name')
        el-col(:xs='24' :md='12')
          iw-form-item(label='Nazwa pliku' :error='GetError("FileName")')
            el-input(v-model='FileName')
        el-col(:span='24')
          iw-form-item(label='Nazwa wyświetlana' :error='GetError("Preview")' hint='Nazwa wyświetlana na podglądzie aktu')
            el-input(v-model='Preview')
        el-col(:span='24')
          iw-form-item(label='Forma Dopełniająca' :error='GetError("Genitive")')
            el-input(v-model='Genitive')
        el-col(:span='24')
          iw-form-item(:error='GetError("Archived")')
            el-checkbox(v-model='Archived') Archiwalny
        el-col(:span='24')
          el-button(type='primary' @click='Submit()') Zapisz
          el-button(@click='Cancel()') Anuluj
</template>
<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import IwFormFragment from '~/components/IwFormFragment.vue'
import IwFormItem from '~/components/IwFormItem.vue'
import { IDecreeType } from 'model/IDictionaryItem'

import { IDecreeValidationError, IDecreeValidationResult } from '~/model/IDecreeValidationResult'
import Common from '~/mixins/common'

@Component({
  components: { IwFormFragment, IwFormItem }
})
export default class DecreeTypeForm extends Mixins(Common) {
  Name: string = ''
  Preview: string = ''
  FileName: string = ''
  Genitive: string = ''
  Archived: boolean = false
  Errors: Array<IDecreeValidationError> = []
  @Prop({
    type: Object,
    default: null
  }) decreeType?: IDecreeType | null

  GetError (prop: string): string | null {
    const e = this.Errors.find(_ => _.Prop === prop)
    return e ? e.Message : null
  }

  $Created () {
    if (this.decreeType) {
      this.Name = this.decreeType.Name
      this.Preview = this.decreeType.Preview
      this.Genitive = this.decreeType.Genitive
      this.FileName = this.decreeType.FileName
      this.Archived = this.decreeType.Archived
    }
  }
  async Validate (decreeType: IDecreeType): Promise<IDecreeValidationResult> {
    const result: IDecreeValidationResult = {
      IsValid: true,
      Source: 'controller',
      Message: 'OK'
    }

    const errors = ['Name', 'Preview', 'FileName'].map(prop => {
      return this.ValidateField(prop, decreeType[prop])
    }).filter(error => error !== null) as Array<IDecreeValidationError>

    if (errors.length > 0) {
      result.IsValid = false
      result.Errors = errors
      result.Message = 'failed'
    }
    return result
  }
  ValidateField (prop: string, value: any): IDecreeValidationError | null {
    if (prop === 'Name') {
      if (!value || (!value.trim())) {
        return {
          Prop: 'Name',
          Message: 'Pole wymagane, wprowadź tekst (maksymalnie 150 znaków)'
        }
      } else if (value.length > 150) {
        return {
          Prop: 'Name',
          Message: 'Przekroczono maksymalną długość 150 znaków o ' + (value.length - 150) + ' znaków'
        }
      }
    } else if (prop === 'Preview') {
      if (!value || (!value.trim())) {
        return {
          Prop: 'Preview',
          Message: 'Pole wymagane, wprowadź tekst (maksymalnie 250 znaków)'
        }
      } else if (value.length > 250) {
        return {
          Prop: 'Preview',
          Message: 'Przekroczono maksymalną długość 250 znaków o ' + (value.length - 250) + ' znaków'
        }
      }
    } else if (prop === 'FileName') {
      if (!value || (!value.trim())) {
        return {
          Prop: 'FileName',
          Message: 'Pole wymagane, wprowadź tekst (maksymalnie 150 znaków)'
        }
      } else if (value.length > 150) {
        return {
          Prop: 'FileName',
          Message: 'Przekroczono maksymalną długość 150 znaków o ' + (value.length - 150) + ' znaków'
        }
      }
    }

    return null
  }
  async Submit () {

    const res = await this.Validate({
      Id: -1,
      Name: this.Name,
      Genitive: this.Genitive,
      Preview: this.Preview,
      FileName: this.FileName,
      Archived: this.Archived
    })

    if (res.IsValid) {
      if (this.decreeType) {
        this.$emit('update', {
          Id: this.decreeType.Id,
          Name: this.Name.trim(),
          Preview: this.Preview.trim(),
          FileName: this.FileName.trim(),
          Genitive: this.Genitive.trim(),
          Archived: this.Archived
        })
      } else {
        this.$emit('create', {
          Name: this.Name.trim(),
          Preview: this.Preview.trim(),
          FileName: this.FileName.trim(),
          Genitive: this.Genitive.trim(),
          Archived: this.Archived
        })
      }
    } else {
      this.Errors = res.Errors || []
      this.$Error('Znaleziono błędy na formularzu')
    }
  }
  Cancel () {
    this.$emit('cancel')
  }
}
</script>

