<template lang="pug">
  div.decree-alert
    h2.decree-alert__header
      span(v-if='type==="cancel"') Anulowanie aktu
      span(v-if='type==="modify"') Zmiana aktu
    p.decree-alert__title(v-if='decree')
      span.decree-alert__type {{decree.Type.Preview + ' '}}
      span.decree-alert__publisher {{decree.Publisher.Preview}}
      span.decree-alert__day {{day}}
      span.decree-alert__date {{$FormatDecreeDate(decree.Date)}}
      span.decree-alert__uid(v-if='decree.Uid') [Nr: {{$ZeroPad(decree.Uid, 3)}}]
</template>
<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import { IDecree } from '~/model/IDecree'
import Common from '~/mixins/common'
@Component
export default class IwFormFragment extends Mixins(Common) {
  @Prop() decree?: IDecree | null
  @Prop() type?: string
  day: string = ' z dnia '
}
</script>
<style lang="scss">
.decree-alert {
    margin-top: -5px;
    padding: 1px 16px;
    background-color: #ddddee;
    border-radius: 4px;
    border-left: 5px solid rgb(85, 85, 170);
    margin-bottom: 16px;

  .decree-alert__uid {
    padding-left: 5px;
    color: rgb(85, 85, 170);
    font-weight: bold;
    white-space: nowrap;
  }
  .decree-alert__header {
    font-weight: 200;
    color: #333366;
  }
}

</style>

