<template lang="pug">
  div
    input(type='file' @change='OnErrorFile')
    no-ssr
      vue-json-pretty(:data='JsonData' v-if='JsonData')
      vue-json-pretty(:data='VNodeData' v-if='ShowVNode')
      el-button(@click='ShowVNode = true' v-if='!!VNodeData && !ShowVNode') pokaż VNode Vue
      el-button(v-if='HTML' @click='ShowHtml') pokaż HTML
    div(v-if='Text') {{Text}}
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
function ab2str (buf) {
  return String.fromCharCode.apply(null, new Uint16Array(buf) as any)
}

@Component({
  components: {
    'vue-json-pretty': function (resolve) {
      if (!process.server) {
        resolve(require('vue-json-pretty').default)
      }
    }
  }
})
export default class extends Vue {
  Text: string = ''
  JsonData: any = null
  VNodeData: any = null
  HTML: string = ''
  ShowVNode: boolean = false
  PrettyJson (obj: string) {
    return JSON.stringify(JSON.parse(obj), null, 2)
  }
  ShowHtml () {
    const host = window.open('/__empty.html', '__blank')
    const html = this.HTML
    const doc = host!.document.open()
    doc['clear']()
    doc.write(html)
    doc.close()
  }
  OnErrorFile (ev) {
    if (ev.currentTarget.files.length === 0) {
      console.log('empty')
    } else {
      const file = ev.currentTarget.files[0]
      const reader = new FileReader()
      reader.addEventListener('load', () => {
        const buffer = reader.result as ArrayBuffer
        const decompress = require('lz-string').decompress
        const compressed = ab2str(buffer)
        const decompressed = decompress(compressed)
        try {
          this.JsonData = JSON.parse(decompressed)
          if (this.JsonData.VNode) {
            this.VNodeData = this.JsonData.VNode
            delete this.JsonData.VNode
          }
          if (this.JsonData.html) {
            this.HTML = this.JsonData.html
            delete this.JsonData.html
          }
        } catch {
          try {
            this.Text = this.PrettyJson(decompressed)
          } catch {
            this.Text = decompressed
          }
        }
      })
      reader.readAsArrayBuffer(file)
    }
  }
}
</script>
