<template lang="pug">
  .el-form-item
    .iw-form-item__header
      label.iw-form-item__label(v-if="label || $slots.label" :for="labelFor")
        slot(name="label")
          span.iw-form-item__label-content {{label}}
          span.iw-form-item__label-optional(v-if="optional") {{optional}}
          el-tooltip(v-if='showHint && (hint)' effect='dark' :content='hint' :open-delay='500')
              i.el-icon-info.hint-icon
      //- transition(name="el-zoom-in-top")
      //-   .iw-form-item__hint(v-if="showHint && (hint || $slots.hint)")
      //-       slot(name="hint") {{hint}}
    .iw-form-item__content
      slot
      transition(name="el-zoom-in-top")
        slot(name="error" v-if="showError && error")
          .iw-form-item__error {{error}}
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
@Component
export default class IwFormItem extends Vue {
  @Prop() label!: String
  @Prop() optional!: String
  @Prop() hint!: String
  @Prop({
    type: Boolean,
    default: true
  }) showHint!: Boolean
  @Prop() error!: String
  @Prop({
    type: Boolean,
    default: true
  }) showError!: Boolean
  @Prop() labelFor!: String
}
</script>
<style>
.el-icon-info.hint-icon {
  padding-left: 10px;
  color: #5555aa;
}
.iw-form-item__header {
  padding: 0 0 14px;
}
.iw-form-item__label {
  float: none;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}
.iw-form-item__label-content {
  color: #606266;
}
.iw-form-item__label-optional {
  color: #7d7e82;
  padding-left: 5px;
}
.iw-form-item__hint {
  font-size: 14px;
}
.iw-form-item__error {
  padding: 14px 0 0;
  font-size: 14px;
  color: #F56C6C;
}
.iw-form-item__content .el-date-editor, .iw-form-item__content .el-select {
  width: 100%;
}
</style>

