<template lang="pug">
  .el-form.el-form--label-top
    slot
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component
export default class IwFormFragment extends Vue {}
</script>