<template>
  <el-footer>
      <!-- <el-button icon="el-icon-warning" @click="breakRender=true" type="text">Błąd renderera</el-button>
      <el-button icon="el-icon-warning" @click="ClickError()" type="text">Błąd kliknięcia</el-button> -->
      <el-button icon="el-icon-warning" @click="AsyncClickError()" type="text">wywołaj sztuczny błąd (5s)</el-button>
      <div v-if="breakRender">{{a.b.c}}</div>
    </el-footer>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component
export default class LayoutFooter extends Vue {
  breakRender: boolean = false
  ClickError () {
    const a: any = {
      b: {}
    }
    a.b.c.d = 1
  }
  AsyncClickError () {
    const a: any = {
      b: {}
    }
    setTimeout(() => {
      a.b.c.d = 1
    }, 5000)
  }
}
</script>

