<template lang="pug">
  el-row(justify="center" type="flex").h-100
    el-col(:xs='24' :sm='16' :lg='12').h-100
      .wrapper
        .radar
          .pointer
          h1.not-found 404
      h2.not-found-text
        slot
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
@Component({})
export default class extends Vue {
}
</script>
<style lang="scss" scoped>
$size: 500px;
.h-100 {
  height: 100%;
  position: relative;
}
.radar {
  width: $size;
  height: $size;
  position: relative;
  background-size: $size $size;
  position: absolute;
  left: 50%;
  top: -50px;
  margin-left: -$size / 2;
}
.wrapper {
  position: relative;
  height: $size - 100px;
}
.not-found {
  position: absolute;
  left: 11%;
  top: 32%;
  right: 11%;
  bottom: 40%;
  margin: auto;
  text-align: center;
  font-size: 50px;
  z-index: 1000;
  animation: blink 2s infinite ease;
  color: rgba(85, 85, 170, 0.8);
  font-size: 150px;
}
.not-found-text {
  text-align: center;
  color: rgb(85, 85, 170);
}
.radar:hover {
  background: none;
}

.radar .pointer {
  opacity: .5;
  position: absolute;
  z-index: 1024;
  left: 10.5820106%;
  right: 10.5820106%;
  top: 10.5820106%;
  bottom: 50%;
  will-change: transform;
  transform-origin: 50% 100%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-image: linear-gradient(135deg, 
    rgba(85, 85, 170, 0.8) 0%, 
    rgba(0, 0, 0, 0.02) 70%,
    rgba(0, 0, 0, 0) 100%
    );
  clip-path: polygon(100% 0, 
    100% 10%, // 100% => 135deg
    50% 100%, 0 100%, 0 0);
  
  animation: rotate360 3s infinite linear;
}

.radar .pointer:after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: -2px;
  border-top: 4px solid rgba(85, 85, 170, 0.5);
  box-shadow: 0 0 3px rgba(85, 85, 170, 0.2);
  border-radius: 9px;
}


@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: .2;
  }
}
</style>
