<template lang="pug">
  el-row(:gutter='5')
      el-col(:span='24')
        el-breadcrumb(separator-class='el-icon-arrow-right')
          el-breadcrumb-item.hidden-xs-only Intranet
          el-breadcrumb-item.hidden-xs-only Aplikacje
          el-breadcrumb-item(:to="{ path: '/' }") Akty zarządcze
          slot
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class PansaBreadcrumb extends Vue {}
</script>

