<template lang="pug">
  el-card
    div(slot='header')
      slot
    div
      ul.list(v-if='current && current.length > 0')
        li.item(v-for='decree in current' :key='decree.Id' title='kliknij aby przejść do podglądu' @click='Open(decree)')
          span.decree-alert__type {{decree.Type.Preview + ' '}}
          span.decree-alert__publisher {{decree.Publisher.Preview}}
          span.decree-alert__day {{day}}
          span.decree-alert__date {{$FormatDecreeDate(decree.Date)}}
          span.decree-alert__uid(v-if='decree.Uid') [Nr: {{$ZeroPad(decree.Uid, 3)}}]
      div.empty(v-else) Brak wyników
    div.pending(v-if='pending && pending.length > 0')
      h2.pending-title oczekujące
        el-tooltip(effect='dark' :content='target ? Hint : TargetHint' :open-delay='1000' placement='top')
          i.el-icon-info
      ul.list
        li.item(v-for='decree in pending' :key='decree.Id' title='kliknij aby przejść do podglądu' @click='Open(decree)')
          span.decree-alert__type {{decree.Type.Preview + ' '}}
          span.decree-alert__publisher {{decree.Publisher.Preview}}
          span.decree-alert__day {{day}}
          span.decree-alert__date {{$FormatDecreeDate(decree.Date)}}
          span.decree-alert__uid(v-if='decree.Uid') [Nr: {{$ZeroPad(decree.Uid, 3)}}]
</template>
<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import { IDecree } from '~/model/IDecree'
import Common from '~/mixins/common'
@Component
export default class RelationshipContainer extends Mixins(Common) {
  @Prop() current?: Array<IDecree>
  @Prop() pending?: Array<IDecree>
  @Prop({
    type: Boolean,
    default: false
  }) target?: boolean
  day: string = ' dnia '
  Hint: string = 'To znaczy, że te akty nie są jeszcze opublikowane.\nWidzisz je ponieważ masz dostęp do roboczych wersji aktów'
  TargetHint: string = 'To znaczy, że ten akt nie jest jeszcze opublikowane.'
  Open (decree: IDecree) {
    this.$router.push({
      name: 'decrees-preview',
      query: {
        id: decree.Id!.toString()
      }
    })
  }
}
</script>
<style lang="scss" scoped>
.list {
  list-style-type: none;
}
.pending-title {
  font-weight: 200;
  font-size: large;
  color: rgb(85, 85, 170);
  margin-top: 10px;
  margin-left: 5px;
}
.item {
  cursor: pointer;
  padding: 5px;
  border-bottom: 2px solid rgb(85, 85, 170);
  margin-bottom: 5px;
}
.item:hover {
  background-color: #ddddee;
}
.pending .item:hover {
  background-color: rgb(127, 127, 212);
}
.pending {
    padding: 1px 16px;
    background-color: #ddddee;
    border-radius: 4px;
    border-left: 5px solid rgb(85, 85, 170);
}
.el-icon-info {
  margin-left: 5px;
  cursor: help;
}
.empty {
  color: rgb(85, 85, 170);
  margin: 0 0 20px 10px;
}
</style>


