<template lang="pug">
  .under-construction
    h1.under-construction__title
      slot
        span Strona w budowie
    img.under-construction__crane(src='/crane.svg')
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component
export default class UnderConstruction extends Vue {}
</script>
<style>
.under-construction {
  text-align: center;
}
.under-construction__crane {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.under-construction__title {
  color: #5555aa;
  font-size: 50px;
  font-weight: 100;
}
</style>
