/* theme color */
$--color-primary: hsl(240, 33%, 50%);

$--border-radius-base: 0;
$--border-radius-small: 0;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import '~element-ui/lib/theme-chalk/display';

ul, menu, dir {
  padding-inline-start: 0 !important;
}

.el-checkbox {
  padding-top: 5px;
  padding-bottom: 5px;
}
.el-checkbox__inner {
  width: 20px;
  height: 20px;
  border-width: 2px
}
.el-checkbox__inner::after {
  left: 5px;
  top: 2px;
  border-width: 3px;
}

@media only screen and (max-width: 768px) {
  .xs-margin~.xs-margin {
    margin-top: 10px;
  }
  .el-button.xs-margin~.el-button.xs-margin {
    margin-left: 0;
  }
  .el-notification {
    left: 5px !important;
    right: 5px !important;
    width: 96% !important;
  }

  .el-date-editor>.el-input__prefix {
    font-size: 24px;
    color: hsl(240, 33%, 50%);
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 1px 1px #5555aa;
  }
  .el-date-editor .el-range__icon {
    font-size: 24px;
    color: hsl(240, 33%, 50%);
    text-shadow: 1px 1px #5555aa;
  }
  .el-date-editor .el-input__inner {
    padding-left: 50px !important;
  }
}

@media only screen and (max-width: 400px) {
  .xxs-margin~.xxs-margin {
    margin-top: 10px;
  }
  .el-button.xxs-margin~.el-button.xxs-margin {
    margin-left: 0;
  }
}

.el-message-box {
  max-width: 98%;
}