<template>
  <el-container :class="{ 'force-nav': ForcedNav }">
    <clippy-assistant v-if='ShowAssistant' ref='assistant' @shown='OnAssistantShow' @hide='ShowAssistant = false'></clippy-assistant>
    <el-header height='60px'>
      <el-button icon="el-icon-menu" class="hidden-sm-and-up nav-button" circle type="primary" @click="ToggleShowAside"></el-button>
      <el-menu mode="horizontal" class="header-menu" :router="true">
        <el-menu-item index="/settings"><i class="el-icon-setting"></i></el-menu-item>
        <el-menu-item index="/help"><i class="el-icon-question"></i></el-menu-item>
        <no-ssr>
          <el-submenu index="me" v-if="Authorized">
            <template slot="title"><span class="hidden-xs-only">{{CurrentUser.Title}}</span><span class="hidden-sm-and-up">Ja</span></template>
            <el-menu-item index="/signout">Wyloguj</el-menu-item>
          </el-submenu>
          <el-menu-item index="/signin" class="signin-menu-item" v-else>Zaloguj</el-menu-item>
        </no-ssr>
      </el-menu>
    </el-header>
    <el-container>
      <el-aside width="initial" v-show="ShowAside">
        <el-menu :router="true" :collapse="Collapsed && !ForcedNav">
          <el-menu-item index="/" point-me='main-page-link'>
            <i class="el-icon-news"></i>
            <span slot="title">Strona główna</span>
          </el-menu-item>
          <el-menu-item index="/decrees/clear" point-me='decrees-link'>
            <i class="el-icon-document"></i>
            <span slot="title">Lista aktów</span>
          </el-menu-item>
          <el-menu-item index="/dictionaries/clear" point-me='dictionaries-lists-link'>
            <i class="el-icon-edit-outline"></i>
            <span slot="title">Listy słownikowe</span>
          </el-menu-item>
          <el-menu-item index="/healthcheck" point-me='healthcheck-link'>
            <i class="el-icon-tickets"></i>
            <span slot="title">Stan aplikacji</span>
          </el-menu-item>
          <el-menu-item index="/faq" point-me='faq-link'>
            <i class="el-icon-service"></i>
            <span slot="title">FAQ</span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      <el-main>
        <Nuxt />
      </el-main>
    </el-container>
    <layout-footer></layout-footer>
  </el-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import * as user from '~/store/modules/User'
import { namespace } from 'vuex-class'
import { setTimeout } from 'timers'
import LayoutFooter from '~/components/LayoutFooter.vue'
import { IScenario, IScenarioPlayer } from 'model/IScenario'
// import ClippyAssistant from '~/components/ClippyAssistant.vue'

const UserStore = namespace(user.name)
function replaceAll (str, find, replace) {
  return str.replace(new RegExp(find, 'g'), replace)
}
function dumpBody (): string {
  let str = document.body.outerHTML
  str = replaceAll(str, '<script', '<infowave-script')
  str = replaceAll(str, '<\/script>', '<\/infowave-script>')
  return str
}
function dumpHead () {
  let str = document.head.outerHTML
  str = replaceAll(str, '<script', '<infowave-script')
  str = replaceAll(str, '<\/script>', '<\/infowave-script>')
  str = replaceAll(str, 'href="\/', 'href="' + window.location.origin + '\/')
  return str
}
function dumpHTML (): string {
  try {
    Array.from(document.body.querySelectorAll('input.el-input__inner')).forEach(i => {
      const input = i as any
      if (input.value) {
        input.setAttribute('value', input.value)
      }
    })
    Array.from(document.body.querySelectorAll('textarea.el-textarea__inner')).forEach(i => {
      const textarea = i as any
      if (textarea.value) {
        textarea.innerHTML = textarea.value
      }
    })
    return `<!doctype html><html>${dumpHead()}${dumpBody()}</html>`
  } catch {
    return ''
  }
}
function ShouldBeIgnored (errEvent: ErrorEvent): boolean {
  if (!errEvent.error) {
    if (errEvent.message === 'ResizeObserver loop limit exceeded') {
      return true
    }
    return true
  }
  return false
}
function dumpVNode (vnode: any) {
  try {
    if (!vnode) {
      return null
    }
    const dmp = {
      tag: vnode.tag,
      raw: vnode.raw,
      isComment: vnode.isComment,
      isAsyncPlaceholder: vnode.isAsyncPlaceholder,
      isRootInsert: vnode.isRootInsert,
      isCloned: vnode.isCloned,
      isStatic: vnode.isStatic,
      key: vnode.key,
      text: vnode.text,
      children: (vnode.children || []).map(dumpVNode),
      child: vnode.child ? dumpVNode(vnode.child._vnode) : null
    }
    return dmp
  } catch {
    return null
  }
}

@Component({
  components: {
    LayoutFooter,
    ClippyAssistant: function (resolve, reject) {
      import('~/components/ClippyAssistant.vue').then(x => {
        resolve(x.default)
      }).catch(reject)
    }
  }
})
export default class DefaultLayout extends Vue {
  @UserStore.State CurrentUser
  @UserStore.State Authorized!: boolean
  Collapsed: boolean = false
  ShowAside: boolean = true
  ShowAssistant: boolean = false
  ForcedNav: boolean = false
  ScenarioToPlay: IScenario | null = null
  mounted () {
    if (!process.server) {
      this.Probe()
      // window['__help'] = () => {
      //   this.help = true
      // }
      window.addEventListener('resize', this.Probe, { passive: true })
      window.addEventListener('error', this.windowErrorCaptured)
      window['__onDevTools'] = () => {
        window.alert('devtools')
      }

      window['__PlayScenario'] = (x: IScenario) => {
        this.PlayScenario(x)
      }
      // setTimeout(() => {
      //   this.ShowAssistant = true
      // }, 5000)
    }
  }

  @Watch('$route') OnRoute () {
    if (this.ForcedNav) {
      setTimeout(() => {
        this.ForcedNav = this.ShowAside = false
      }, 200)
    }
  }
  Probe () {
    this.Collapsed = (window.innerWidth < 1350)
    this.ShowAside = (window.innerWidth > 768)
    if (this.ShowAside) {
      this.ForcedNav = false
    }
  }
  PlayScenario (scenario: IScenario) {
    this.ScenarioToPlay = scenario
    if (!this.$refs.assistant) {
      this.ShowAssistant = true
    } else {
      (this.$refs.assistant as any as IScenarioPlayer).PlayScenario(this.ScenarioToPlay)
    }
  }
  OnAssistantShow () {
    if (this.ScenarioToPlay && this.$refs.assistant) {
      (this.$refs.assistant as any as IScenarioPlayer).PlayScenario(this.ScenarioToPlay)
    }
  }
  ToggleShowAside () {
    this.ShowAside = !this.ShowAside
    this.ForcedNav = this.ShowAside
  }
  windowErrorCaptured (errEvent: ErrorEvent): boolean {
    errEvent.preventDefault()
    errEvent.stopPropagation()
    if (ShouldBeIgnored(errEvent)) {
      try {
        console.warn(`[Infowave:warning] ignored inconsequential window error: ${errEvent.message}`)
      } catch {
        // nothing to do
      }
      return false
    }

    const err: Error = errEvent.error as Error
    try {
      window.sessionStorage.setItem('__error_dump__', JSON.stringify({
        info: 'window',
        authorized: this.Authorized,
        user: this.Authorized ? this.CurrentUser : null,
        error: err ? {
          stack: err.stack,
          message: err.message
        } : null,
        navigator: window.navigator ? {
          userAgent: window.navigator.userAgent,
          platform: window.navigator.platform
        } : null,
        url: window.location.href,
        html: dumpHTML(),
        VNode: window['$nuxt'] && window['$nuxt']._vnode ? dumpVNode(window['$nuxt']._vnode) : null
      }))
    } catch {
      // nothing to do
    } finally {
      this.handleError()
      return false
    }
  }
  handleError () {
    this.$router.push({
      path: '/500'
    })
  }
  errorCaptured (err: Error, vm: any, info: string): boolean {
    console.log(vm)
    try {
      window.sessionStorage.setItem('__error_dump__', JSON.stringify({
        info: info,
        authorized: this.Authorized,
        user: this.Authorized ? this.CurrentUser : null,
        error: err ? {
          stack: err.stack,
          message: err.message
        } : null,
        navigator: window.navigator ? {
          userAgent: window.navigator.userAgent,
          platform: window.navigator.platform
        } : null,
        url: window.location.href,
        html: dumpHTML(),
        VNode: window['$nuxt'] && window['$nuxt']._vnode ? dumpVNode(window['$nuxt']._vnode) : null
      }))
    } catch {
      // nothing to do
    } finally {
      this.handleError()
      return false
    }
  }
}
</script>
<style>
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

@media only screen and (max-width: 758px) {
  .el-main {
    padding: 10px;
  }
}

li.el-menu-item.signin-menu-item {
    color: white;
}
.nav-button.el-button.is-circle {
    /* position: absolute;
    margin-top: 30px; */
    margin-top: 4px;
    font-size: 26px;
    /* margin-left: -16px; */
}

.force-nav .nav-button.el-button.is-circle {
  margin-top: 4px;
  background-color: transparent;
}
.force-nav .el-aside {
  position: fixed;
  z-index: 100;
  opacity: 0.95;
  font-weight: bold !important;
  
}
.force-nav .el-aside>.el-menu .el-menu-item {
  color: #333366 !important;
}
.force-nav .el-aside>.el-menu {
  margin-left: 0;
}
.el-header, .el-footer {
  background-color: #333366;
  padding-right: 0;
}
.el-main {
  min-height: calc(100vh - 60px);
  position: relative;
}
.el-message-box__message {
    white-space: pre-line;
}
.el-tooltip__popper.is-dark {
  background-color: #5555aa;
  white-space: pre-line;
  font-size: 0.9rem;
}
.el-tooltip__popper.is-dark[x-placement^="left"] > .popper__arrow {
  border-left-color: #5555aa;
}
.el-tooltip__popper.is-dark[x-placement^="left"] > .popper__arrow::after {
  border-left-color: #5555aa;
}
.el-tooltip__popper.is-dark[x-placement^="right"] > .popper__arrow {
  border-right-color: #5555aa;
}
.el-tooltip__popper.is-dark[x-placement^="right"] > .popper__arrow::after {
  border-right-color: #5555aa;
}
.el-tooltip__popper.is-dark[x-placement^="top"] > .popper__arrow {
  border-top-color: #5555aa;
}
.el-tooltip__popper.is-dark[x-placement^="top"] > .popper__arrow::after {
  border-top-color: #5555aa;
}

.el-breadcrumb {
  margin: 14px 0 28px 0;
}
.el-breadcrumb__inner.is-link {
  font-weight: normal;
}

i.el-input__icon.el-icon-circle-close.el-input__clear {
  font-size: 22px;
  margin-right: 5px;
}
i.el-input__icon.el-icon-circle-close.el-input__clear:hover {
  color: #5555aa;
}

.header-menu {
  background-color: transparent;
  float: right;
}

.header-menu .el-menu-item i[class^="el-icon-"] {
  font-size: 24px;
}
.header-menu>.el-submenu>.el-submenu__title, .header-menu .el-menu-item i[class^="el-icon-"] {
  color: #f5f5f5;
}
.header-menu .el-menu-item~.el-menu-item, .header-menu .el-menu-item~.el-submenu, .header-menu .el-menu-item:first-child {
    border-left: 1px solid #f4f4f5;
}
.header-menu .el-submenu__icon-arrow {
  font-weight: bold;
}
.header-menu .el-submenu__icon-arrow.el-icon-arrow-down {
  color: #f5f5f5;
}
.header-menu .el-submenu.is-opened .el-submenu__icon-arrow.el-icon-arrow-down {
  color: #333366;
}
.header-menu .el-menu-item:hover i[class^="el-icon-"] {
  color: #333366;
}
.el-aside>.el-menu {
  background-color: #f4f4f5;
  margin: 20px 10px;
  border-right-width: 0;
}

.el-table__row>td>.cell {
  word-break: break-word;
}
.el-table th.is-sortable:hover {
  background-color: #eeeef6;
}
.el-table--border, .el-table--border .el-table__body-wrapper td {
  border-width: 0 0 1px 0;
}
.el-table--border .el-table__header-wrapper th {
  border-bottom-width: 0px;
  border-color: transparent;
}
.el-table--border .el-table__header-wrapper:hover th {
  border-color: #eeeef6;
}
.el-table--border .el-table__fixed-body-wrapper td, .el-table--border .el-table__fixed-header-wrapper th {
  border-width: 0 0 1px 0;
}
.el-table::before, .el-table__fixed::before, .el-table__fixed-right::before {
  height: 0px !important;
}
</style>

