<template lang="pug">
  .error-container
    h1 {{error.statusCode || '500'}}
    h2 Wystąpił wewnętrzny błąd aplikacji
    h3 {{error.Message || error.message || 'Jeśli się powtórzy, skontaktuj się z administratorem'}}
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class DefaultLayout extends Vue {
  @Prop() error
  created () {
    if (this.error && this.error.statusCode === 404) {
      this.$router.replace('/404')
    } else {
      this.$router.push({
        path: '/500',
        query: {
          message: this.error.Message || this.error.message || ''
        }
      })
    }
  }
}
</script>

