ul, menu, dir {
  padding-inline-start: 0 !important;
  padding-left: 0 !important;
}
::selection {
  background-color: hsl(240, 33%, 50%);
  color: white;
}
::-moz-selection {
  background-color: hsl(240, 33%, 50%);
  color: white;
}
infowave-script {
  display: none;
}

@keyframes antiClockwiseSpin {
	0%  {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}	
}

.el-icon-loading-spinner {
  height: 150px;
  width: 150px;
  margin-top: -80px;
  animation: antiClockwiseSpin 1s linear infinite;
  background-image: url( "/plane-spinner.svg" );
  opacity: 0.7;
}
