<template lang="pug">
  el-row(justify="center" type="flex").h-100
    el-col(:span='20').h-100
      .wrapper
        img.padlock(src="/padlock.svg")
        .message-wrapper
          h1.title 403
          h2.subtitle(v-if='subtitle') {{subtitle}}
          p.text {{text}}
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
@Component({})
export default class extends Vue {
  text: string = 'Wygląda na to, że nie masz wystarczających uprawnień'
  subtitle: string | null = null
  created () {
    if (!process.server) {
      if (this.$route.query.text) {
        this.text = this.$route.query.text as string
      }
      if (this.$route.query.subtitle) {
        this.subtitle = this.$route.query.subtitle as string
      }
      this.$router.replace('/403')
    }
  }
}
</script>
<style lang="scss" scoped>
.padlock {
  max-width: 30%;
}
.wrapper {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}
.title {
  font-size: 150px;
  margin-block-end: 0;
  margin-block-start: 0;
  color: rgb(85, 85, 170);
}
.subtitle, .text {
  color: #333366;
}
</style>
