<template lang="pug">
  not-found
    span Nasza aparatura nie wykryła tej strony!
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import NotFound from '~/components/NotFound.vue'

@Component({
  components: { NotFound }
})
export default class extends Vue {}
</script>