<template lang="pug">
  el-row(justify="center" type="flex").h-100
    el-col(:span='20').h-100
      .wrapper
        .message-wrapper
          h1.title 422
          h2.subtitle Walidacja
          p.text(v-if='Message') {{Message}}
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class extends Vue {
  Message: string = 'Coś poszło nie tak...'
  created () {
    if (this.$route.query.message) {
      this.Message = this.$route.query.message as string
    }
  }
}
</script>
<style lang="scss" scoped>
.h-100 {
  height: 100%;
}
.wrapper {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}
.message-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-size: 150px;
  margin-block-end: 0;
  margin-block-start: 0;
  color: rgb(85, 85, 170);
}
.subtitle, .text {
  color: #333366;
}
</style>
