<template lang="pug">
  el-row(justify="center" type="flex").h-100
    el-col(:span='20').h-100
      .wrapper
        - var i = 49
        while i > -1
          div(class="confetti-"+i)
          - i--
        .message-wrapper
          h1.title 500
          h2.subtitle Brawo! Znalazłeś wewnętrzny błąd aplikacji
          p.text(v-if='Message') {{Message}}
          div.dump-message(v-if='HasDump') Przygotowaliśmy plik błędu...
            p
              el-button(@click='SaveDump' type='primary') Pobierz go
            p ...i wyślij do zespołu Infowave
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import save from 'save-file'

function str2ab (str) {
  const buf = new ArrayBuffer(str.length * 2) // 2 bytes for each char
  const bufView = new Uint16Array(buf)
  const strLen = str.length
  for (let i = 0; i < strLen; i++) {
    bufView[i] = str.charCodeAt(i)
  }
  return buf
}

const SaveFile = save
@Component({})
export default class extends Vue {
  Message: string = ''
  HasDump: boolean = false
  Dump: any = null
  created () {
    if (this.$route.query.message) {
      this.Message = this.$route.query.message as string
    }
  }
  mounted () {
    if (!process.server) {
      this.Dump = window.sessionStorage.getItem('__error_dump__')
      this.HasDump = !!this.Dump
    }
  }
  beforeDestroy () {
    if (!process.server) {
      window.sessionStorage.removeItem('__error_dump__')
    }
  }
  async SaveDump () {
    const dump = this.Dump
    if (dump) {
      const compress = require('lz-string').compress
      const compressed = compress(dump)
      const buffer = str2ab(compressed)
      await SaveFile(buffer, 'error.infowave')
    }
  }
}
</script>
<style lang="scss" scoped>
.h-100 {
  height: 100%;
}
.wrapper {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}
.message-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-size: 150px;
  margin-block-end: 0;
  margin-block-start: 0;
  color: rgb(85, 85, 170);
}
.subtitle, .text {
  color: #333366;
}

[class|="confetti"] {
  position: fixed;
}

$colors: (#d13447, #ffbf00, rgb(85, 85, 170));

@for $i from 0 through 50 {
  $w: random(16);
  $l: random(90);
  .confetti-#{$i} {
    width: #{$w}px;
    height:#{$w*0.4}px;
    background-color: nth($colors, random(3));
    top: 60px;
    left: unquote(10+$l+"%");
    transform: rotate(#{random()*360}deg);
    animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 105%;
      left: unquote(10+$l+random(15)+"%");
    }
  }
}
</style>
