<template lang="pug">
  el-row(justify="center" type="flex")
    el-col(:xs='24' :sm='16' :lg='8')
      el-card(shadow='always') Trwa logowanie...
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import * as user from '~/store/modules/User'
import { namespace } from 'vuex-class'
import Common from '~/mixins/common'
import { setTimeout } from 'timers'

const User = namespace(user.name)
@Component({})
export default class extends Mixins(Common) {
  @User.Action SignInWithCode

  async $Created () {
    setTimeout(() => {
      this.SignInWithCode(this.$route.query.code).then(() => {
        let state = {
          next: '/decrees'
        }
        if (this.$route.query.state) {
          state = JSON.parse(this.$route.query.state as string)
        }
        this.$router.push(state.next)
      })
    }, 500)
  }
}
</script>