<template lang="pug">
  div
    clippy-assistant(ref='agent')
    div
      el-button(v-for='a in Animations' @click='$refs.agent.PlayAnimation(a)' :key='a') {{a}}
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import UnderConstruction from '~/components/UnderConstruction.vue'
import Common from '~/mixins/common'
import ClippyAssistant from '~/components/ClippyAssistant.vue'

@Component({
  components: { UnderConstruction, ClippyAssistant }
})
export default class extends Mixins(Common) {
  Animations: string[] = []
  $Mounted () {
    this.Animations = this.$refs.agent['GetAnimations']()
  }
}
</script>

