<template lang="pug">
  el-row(type='flex' justify='center')
    el-col(:span='12' ref='col')
      el-progress(type="circle" :percentage="percentage" :width='width' color='#5555aa' v-if='width')
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import { IDecree } from 'model/IDecree'
import * as decrees from '~/store/modules/Decrees'
import { namespace } from 'vuex-class'
import Common from '~/mixins/common'

const Decrees = namespace(decrees.name)
// #region lorem
const lorem = [ '', '', '', '', `Sam pan Tadeusz został w armii adiutantem,
Regent — pisarzem, Sędzia — zboża liwerantem,
Hrabia dowodzi nowych ułanów szwadronem;
Wszystko się pociągnęło za Napoleonem,
Poszło w marsz... W domu smętne wzdychają małżonki
Pani Tadeuszowa odmawia koronki,
Nowenny; Telimena klnie domową ciszę,
Smętek mgieł — patrzy w okna, wzdycha, listy pisze
Albo z książką francuską idzie w szary kątek
Pod piec — i tonie w smętnych bałwanach pamiątek.
Wojski także — niezdolny do rycerskich czynów —
Został, dogląda w domu kobiet... i kominów.
Tymczasem nadchodziła ta okropna zima —
Twarda, groźna, iskrząca się komet oczyma,
Którą w Litwie przeczuwał wcześnie naród cały;
Niebo bladło, szron iskrzył, gwiazdy czerwieniały,
Miesięczne tęcze całe stawały w kolorach,
Mroźne kameleony przy chatach, oborach.`,
  `Noc była wietrzna, śnieżna, a wichry śpiewały
W kominach swoje zwykłe płaczące chorały.
Kobiety przy dwóch świecach w bawialnym pokoju
Siedziały przy robótce, w zaniedbanym stroju,
Same jedne — wizyt się w domu swoim żadnych
Nie spodziewając dla mgieł i czasów szkaradnych,
Gdy nagle przed oknami — jak świst, grzechot węży,
Zaszumiał przeraźliwie straszny brzęk uprzęży,
Straszny dla domu łoskot, z którym zwykle jadą
Sanie ogromne, liczne - tak zwaną szlichtadą,
Z napaścią, która domy półsenne odurza
Jak napaść zbójców... Taka przyleciała burza
Na dziedziniec. Zlękła się Telimena mocno,
Spojrzawszy na szlafroczek i na odzież nocną,
Spojrzała przez okiennic szpary, a śnieg złoty -
Pełno kagańców; bieży, zrywa papiloty,
W oczach widać, że straszne zobaczyła mary,
Lecz niebrzydkie... Krzyknęła do Zosi: „Huzary!"
I uciekła.`,
  `Tymczasem wchodzi do pokoju
Człowiek niewielki wzrostem, w podróżnego stroju;
Sądziłbyś, że cywilny - gdyby nie miał szpady
Pod pachą - dosyć piękny na twarzy i blady
Mimo zimna. Twarz była jak marmur niezmienna,
Owszem, rzekłbyś, że bielsza od mrozu, promienna,
Jak miesiąc złota... Oddał lekki ukłon Zosi,
Ona się zlękła, oczy spuszcza, nie podnosi,
Nie śmie... stoi jak posąg, a w sobie rozważa,
Czy ma uciec, czy zostać — poznała cesarza
Napoleona...`,
  `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`]
// #endregion

function randomInt (min: number, max: number): number {
  return Math.floor(Math.random() * (max - min + 1)) + min
}

@Component({})
export default class extends Mixins(Common) {
  @Decrees.Action CreateDecree
  @Decrees.Action ImportDecree
  limit: number = 200
  percentage: number = 0
  width: number = 0
  async $Created () {
    window['__altDelay'] = 1
    let count = 0
    const l = this.limit
    // import
    while (count < l / 2) {
      const decree: IDecree = {
        Id: null,
        StatusId: null,
        Uid: null,
        Created: null,
        Modified: null,
        AuthorId: null,
        ModifiedById: null,
        CanceledIds: [],
        ChangedIds: [],
        Version: null,
        TypeId: randomInt(1, 5),
        PublisherId: randomInt(10, 21),
        Date: new Date(randomInt(2010, 2015), randomInt(1,11), randomInt(1,28)),
        Projects: !randomInt(0, 1),
        Teams: !randomInt(0, 1),
        PublicProcurement: !randomInt(0, 1),
        TagIds: [],
        Case: lorem[randomInt(4, lorem.length - 1)],
        Content: lorem[randomInt(0, lorem.length - 1)]
      }
      await this.ImportDecree(decree)
      count = count + 1
      if (count % 4 === 0) {
        this.percentage = count * 100 / l
      }
    }
    while (count < l) {
      const decree: IDecree = {
        Id: null,
        StatusId: null,
        Uid: null,
        Created: null,
        Modified: null,
        AuthorId: null,
        ModifiedById: null,
        CanceledIds: [],
        ChangedIds: [],
        Version: null,
        TypeId: randomInt(1, 3),
        PublisherId: randomInt(1, 5),
        Date: new Date(randomInt(2016, 2018), randomInt(1,11), randomInt(1,28)),
        Projects: !randomInt(0, 1),
        Teams: !randomInt(0, 1),
        PublicProcurement: !randomInt(0, 1),
        TagIds: [],
        Case: lorem[randomInt(4, lorem.length - 1)],
        Content: lorem[randomInt(0, lorem.length - 1)]
      }
      await this.CreateDecree(decree)
      count = count + 1
      if (count % 4 === 0) {
        this.percentage = count * 100 / l
      }
    }
    delete window['__altDelay']
    this.$router.push('/decrees')
  }

  $Mounted () {
    this.width = Math.floor(this.$refs.col['$el'].getBoundingClientRect().width) - 20
  }
}
</script>
