<template lang="pug">
  div
    el-tabs(v-model='ActiveTab')
      el-tab-pane(label='Środowisko' name='environment')
        browser-env
      el-tab-pane(label='Inspektor błędów' name='inspector')
        error-inspector
      el-tab-pane(label='CMD' name='cmd')
        decrees-cmd(v-if="ActiveTab === `cmd`")
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import ErrorInspector from '~/components/ErrorInspector.vue'
import DecreesCmd from '~/components/DecreesCmd.vue'
import BrowserEnv from '~/components/BrowserEnv.vue'
import Common from '~/mixins/common'

@Component({
  components: {
    ErrorInspector,
    DecreesCmd,
    BrowserEnv
  }
})
export default class extends Mixins(Common) {
  ActiveTab: string = 'environment'
}
</script>
