<template lang="pug">
  div
    pansa-breadcrumb
    el-row(:gutter='10')
      el-col(:span='24')
        el-button.xxs-margin(@click="Clear" type="danger" icon="el-icon-delete") Wyczyść dane testowe
        el-button.xxs-margin(@click="Generate" type="primary" icon="el-icon-printer") Wygeneruj testowe akty
    nuxt-child(:key="$route.fullPath")
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import Common from '~/mixins/common'
import PansaBreadcrumb from '~/components/PansaBreadcrumb.vue'
// import { namespace } from 'vuex-class'
@Component({
  components: { PansaBreadcrumb }
})
export default class extends Mixins(Common) {
  public static meta = { anonymous: true }

  Generate () {
    this.$router.push('/generator')
  }
  Clear () {
    this['$confirm']('Ta operacja wymaże wszystkie dane testowe. Kontynuować?', 'Ostrzeżenie', {
      confirmButtonText: 'Tak',
      cancelButtonText: 'Anuluj',
      type: 'warning'
    }).then(() => {
      indexedDB.deleteDatabase('demoFiles')
      window.localStorage.removeItem('__decrees')
      window.localStorage.removeItem('__dictionaries')
      const next = {
        name: 'decrees',
        params: {}
      }
      next.params['$success'] = 'Dane testowe zostały wyczyszone!'
      this.$router.push(next)
    })
  }
}
</script>
