<template lang="pug">
  div
    under-construction
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UnderConstruction from '~/components/UnderConstruction.vue'
@Component({
  components: { UnderConstruction }
})
export default class extends Vue {}
</script>
