<template lang="pug">
  el-row(justify="center" type="flex")
    el-col(:xs='24' :sm='16' :lg='8')
      el-card(shadow='always') Za chwilę nastąpi wylogowanie...
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import * as user from '~/store/modules/User'
import { namespace } from 'vuex-class'
import Common from '~/mixins/common'
import { setTimeout } from 'timers'

const User = namespace(user.name)
@Component({})
export default class extends Mixins(Common) {
  @User.Action SignOut

  async $Created () {
    setTimeout(() => {
      this.SignOut().then(() => {
        this.$router.push('/')
      })
    }, 500)
  }
}
</script>
