<template lang="pug">
  el-row(justify="center" type="flex")
    el-col(:xs='24' :sm='16' :lg='8')
      el-card(shadow='always') Za chwilę nastąpi przekierownie...
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import * as user from '~/store/modules/User'
import { namespace } from 'vuex-class'
import Common from '~/mixins/common'
import { setTimeout } from 'timers'

const User = namespace(user.name)
@Component({})
export default class extends Mixins(Common) {
  @User.Action SignOut

  async $Created () {
    setTimeout(() => {
      const state = {
        next: '/decrees'
      }
      if (this.$route.query.next) {
        state.next = this.$route.query.next as string
      }
      window.location.href = 'https://infowave-pansa-fake-adfs.netlify.com/?redirect_uri=' +
      encodeURIComponent(window.location.origin + '/adfs') + '&state=' + encodeURIComponent(JSON.stringify(state))
    }, 500)
  }
}
</script>