<template lang="pug">
  div
    pansa-breadcrumb
      el-breadcrumb-item(:to="{ name: 'dictionaries' }") Listy słownikowe
    el-dialog(v-if='!!(Publisher || Tag || Type)' title='Edycja' :visible='true' :show-close='false')
      publisher-form(v-if='!!Publisher' :publisher='Publisher' @cancel='ResetEdit()' @update='_UpdatePublisher')
      decree-tag-form(v-if='!!Tag' :decree-tag='Tag' @cancel='ResetEdit()' @update='_UpdateTag')
      decree-type-form(v-if='!!Type' :decree-type='Type' @cancel='ResetEdit()' @update='_UpdateType')
    el-dialog(v-if='!!(AddPublisher || AddTag || AddType)' title='Dodawanie' :visible='true' :show-close='false')
      publisher-form(v-if='!!AddPublisher' @cancel='ResetEdit()' @create='_CreatePublisher')
      decree-tag-form(v-if='!!AddTag' @cancel='ResetEdit()' @create='_CreateTag')
      decree-type-form(v-if='!!AddType' @cancel='ResetEdit()' @create='_CreateType')
    el-tabs(v-model='ActiveTab' v-if='!!Bag' @tab-click='Reload()')
      el-tab-pane(label='Kto wydał' name='publishers')
        publishers-table(:publishers='Bag.Publishers' @edit='EditPublisher')
        el-button(type='primary' @click='AddPublisher=true') Dodaj nowego wydawcę
      el-tab-pane(label='Rodzaje' name='types')
        decree-types-table(:decree-types='Bag.DecreeTypes' @edit='EditType')
        el-button(type='primary' @click='AddType=true') Dodaj nowy typ aktu
      el-tab-pane(label='Kategorie' name='tags')
        decree-tags-table(:decree-tags='Bag.DecreeTags' @edit='EditTag')
        el-button(type='primary' @click='AddTag=true') Dodaj nową kategorię
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import PublishersTable from '~/components/PublishersTable.vue'
import DecreeTypesTable from '~/components/DecreeTypesTable.vue'
import DecreeTagsTable from '~/components/DecreeTagsTable.vue'
import PublisherForm from '~/components/PublisherForm.vue'
import DecreeTypeForm from '~/components/DecreeTypeForm.vue'
import DecreeTagForm from '~/components/DecreeTagForm.vue'
import PansaBreadcrumb from '~/components/PansaBreadcrumb.vue'
import Common from '~/mixins/common'
import Errors from '~/mixins/errors'
import * as dictionaries from '~/store/modules/Dictionaries'
import { namespace } from 'vuex-class'
import { IDictBag, IPublisher, IDecreeType, IDecreeTag } from '~/model/IDictionaryItem'

const Dictionaries = namespace(dictionaries.name)

@Component({
  components: {
    PublishersTable,
    DecreeTypesTable,
    DecreeTagsTable,
    PublisherForm,
    DecreeTypeForm,
    DecreeTagForm,
    PansaBreadcrumb
  }
})
export default class extends Mixins(Common, Errors) {
  @Dictionaries.Action GetDictionaries
  @Dictionaries.Action UpdatePublisher
  @Dictionaries.Action UpdateDecreeTag
  @Dictionaries.Action UpdateDecreeType
  @Dictionaries.Action CreatePublisher
  @Dictionaries.Action CreateDecreeTag
  @Dictionaries.Action CreateDecreeType
  ActiveTab: string = 'tags'
  Bag: IDictBag | null = null
  Publisher: IPublisher | null = null
  Tag: IDecreeTag | null = null
  Type: IDecreeType | null = null
  AddPublisher: boolean = false
  AddTag: boolean = false
  AddType: boolean = false

  async $Created () {
    await this.Reload()
  }
  async Reload () {
    this.$Loading('Ładuję listy słownikowe')
    this.ResetEdit()
    this.Bag = await this.GetDictionaries()
    this.$Loaded()
  }
  ResetEdit () {
    this.Publisher = null
    this.Tag = null
    this.Type = null
    this.AddPublisher = false
    this.AddTag = false
    this.AddType = false
  }
  EditPublisher (pub: IPublisher) {
    this.ResetEdit()
    this.Publisher = pub
  }
  async _UpdatePublisher (pub: IPublisher) {
    this.$Loading()
    try {
      await this.UpdatePublisher(pub)
      await this.Reload()
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  async _CreatePublisher (pub: IPublisher) {
    this.$Loading()
    try {
      await this.CreatePublisher(pub)
      await this.Reload()
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  EditTag (tag: IDecreeTag) {
    this.ResetEdit()
    this.Tag = tag
  }
  async _UpdateTag (tag: IDecreeTag) {
    this.$Loading()
    try {
      await this.UpdateDecreeTag(tag)
      await this.Reload()
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  async _CreateTag (tag: IDecreeTag) {
    this.$Loading()
    try {
      await this.CreateDecreeTag(tag)
      await this.Reload()
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  EditType (type: IDecreeType) {
    this.ResetEdit()
    this.Type = type
  }
  async _UpdateType (type: IDecreeType) {
    this.$Loading()
    try {
      await this.UpdateDecreeType(type)
      await this.Reload()
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
  async _CreateType (type: IDecreeType) {
    this.$Loading()
    try {
      await this.CreateDecreeType(type)
      await this.Reload()
    } catch (err) {
      this.$HandleError(err)
    } finally {
      this.$Loaded()
    }
  }
}
</script>